.breadcrumbs {
	& + * {
		margin-top: rem(50) !important;
		@media (min-width: $md4) {
			margin-top: rem(100) !important;
		}
	}
	&__items {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-block: 2.75rem 0;
		@media (min-width: $md4) {
			padding-block: 6rem 0;
		}
	}
	// .breadcrumbs__item
	&__item {
		display: flex;
		align-items: center;
		color: rgba(228, 228, 228, 0.8);
		text-align: center;
		line-height: 120%;
		font-size: 0.625rem;
		@media (min-width: $md4) {
			font-size: 1rem;
		}
		&:not(:last-child) {
			&::before {
				content: "-";
				margin: 0 rem(4);
				flex-shrink: 0;
				order: 1;
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
		&.active {
			pointer-events: none;
			color: #e4e4e4;
		}
	}
}
