.breadcrumbs {
	& + * {
		margin-top: 0 !important;
	}

	&__items {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding-block: rem(20) 0;

		@media (min-width: $md4) {
			padding-block: rem(32) 0;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		color: #290F0A;
		font-weight: 700;
		font-size: rem(14);
		line-height: 1.2;
		text-transform: none;

		@media (min-width: $md4) {
			font-size: rem(16);
		}

		&:not(:last-child) {
			&::before {
				content: "-";
				margin: 0 rem(4);
				flex-shrink: 0;
				order: 1;
			}
		}
	}

	&__link {
		color: #290F0A;

		&.active {
			pointer-events: none;
			color: #290F0A;
		}
	}
}
