.cart {
	display: none;

	min-height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: auto;
	max-width: 48.3125rem;
	width: 100%;
	background: #151515;
	color: #fff;
	flex-direction: column;
	padding: 2.12rem 3rem;
	@media (min-width: $md4) {
		padding: 3.12rem 4rem;
	}

	// .cart__header
	&__header {
		margin-top: 0.62rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .cart__title
	&__title {
		font-size: 1.375rem;
		line-height: 120%;
		@media (min-width: $md4) {
			font-size: 1.5rem;
		}
	}
	// .cart__clear
	&__clear {
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1rem;
		}
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .cart__list
	&__list {
		margin-top: 1rem;
		@media (min-width: $md4) {
			margin-top: 3.34rem;
		}
	}
	// .cart__item
	&__item {
		border: rem(1) solid rgba(228, 228, 228, 0.8);
		padding: 1.25rem;
		@media (min-width: $md4) {
			padding: 2.44rem 1.87rem;
		}
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
	// .cart__item-main
	&__item-main {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: rem(6);
		@media (min-width: $md6) {
			flex-wrap: nowrap;
		}
		@media (min-width: $md4) {
			gap: 1.25rem;
		}
	}
	// .cart__item-thumb
	&__item-thumb {
		flex-shrink: 0;
		width: 3.5625rem;
		height: 3.4375rem;
		@media (min-width: $md4) {
			width: 6.5rem;
			height: 6.5rem;
		}
	}
	// .cart__item-name
	&__item-name {
		flex: 1 1 auto;
		line-height: 145%;
		max-width: 17.8125rem;
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1.125rem;
		}
	}
	// .cart__item-counter
	&__item-counter {
		margin-left: auto;
		display: flex;
		align-items: center;
		text-align: center;
		flex-shrink: 0;
	}
	// .cart__item-btn
	&__item-btn {
		justify-content: center;
		display: flex;
		align-items: center;
		transition: color 0.3s ease;
		font-size: 1rem;
		@media (min-width: $md4) {
			font-size: 2rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .cart__counter-value
	&__counter-value {
		flex: 1 1 auto;
		font-size: 0.875rem;
		line-height: 145%;
		text-align: center;
		width: rem(41);
		@media (min-width: $md4) {
			width: rem(58);
		}
	}
	// .cart__item-price
	&__item-price {
		margin: 0.75rem em(0) em(0) em(0);
		text-align: right;
		font-size: 1rem;
		line-height: 120%;
	}
	// .cart__footer
	&__footer {
		margin-top: 1rem;
		@media (min-width: $md4) {
			margin-top: 3.17rem;
		}
	}
	// .cart__total
	&__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .cart__total-caption
	&__total-caption {
		font-size: 1.125rem;
		line-height: 145%;
	}
	// .cart__total-value
	&__total-value {
		text-align: right;
		font-size: 1.25rem;
		line-height: 120%;
	}
	// .cart__btn
	&__btn {
		width: 100%;
		font-size: 0.875rem;
		margin-top: 2rem;
		min-height: rem(40);
		@media (min-width: $md4) {
			min-height: 3.52275rem;
			margin-top: 2.4rem;
		}
	}
}
