.faq {
	padding: rem(32) 0rem rem(16);

	@media (min-width: $md6) {
		padding: rem(32) 0.5rem rem(16);
	}

	@media (min-width: $md5) {
		padding: rem(30) 0 rem(60);
	}

	// .faq__list
	&__list {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
	}

	// .faq__item
	&__item {
		&:not(:last-child) {
			border-bottom: rem(1) solid #290F0A;
		}
	}

	// .faq__question
	&__question {
		font-size: 1rem;
		font-weight: 500;
		line-height: 110%;
		padding-block: 1rem;
		cursor: pointer;
		text-align: left;
		display: flex;
		justify-content: space-between;
		gap: 1rem;

		&::before {
			order: 1;
			transition: transform 0.3s ease;
		}

		&._active {
			&::before {
				transform: rotate(-90deg);
			}
		}
	}

	// .faq__answer
	&__answer {
		display: none;
		font-size: 0.875rem;
		line-height: 120%;
		padding-bottom: 2.13rem;
	}
}