.gift {
	padding: 1.375rem 0;

	@media (min-width: $md4) {
		padding: 2.5rem 0;
	}

	.container {
		@media (max-width: $md5) {
			padding: 0;
		}
	}

	&__content {
		display: grid;
		gap: rem(20);

		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__body {
		background: #290F0A;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: rem(25) rem(50);
		gap: 2rem;

		@media (min-width: $md5) {
			padding: 2.5rem 1.44rem rem(46) 3.13rem;
		}
	}

	&__title {
		text-align: center;
		font-weight: 400;
		max-width: 24rem;
		margin: auto;
		text-transform: uppercase;
		font-family: $fontfamily;
		font-size: 2rem;
	}

	&__btn {
		&.btn {
			padding: 1rem 3.375rem;
		}

		@media (min-width: $md5) {
			min-width: 15.625rem;
		}
	}

	&__image {}
}
