.fancybox__container {
	max-width: 100% !important;
	padding: 0;
}

.fancybox__backdrop {
	background: rgba(0, 0, 0, 0.4);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.popup {
	display: none;
	width: 100%;
	padding: 0;
	background: none;
	max-width: rem(400);
	background: #0e1d20;
	border-radius: 0.5rem;
	padding: 4rem 2rem;
	&#feedback-error {
		.popup__title {
			color: red;
		}
	}
	&__title {
	}
	&__subtitle {
		margin-top: 1rem;
		font-size: 1.25rem;
		text-align: center;
	}
}
