.dropdown {
	position: relative;
	width: 100%;
	flex: 1 1 auto;
	&--grey {
		&.visible {
			.dropdown__button {
				&::before {
					transform: rotate(-90deg);
				}
			}
		}
	}
	&.visible {
		.dropdown__body {
			opacity: 1;
			visibility: visible;
		}
	}
	&.dropdown-top {
		.dropdown__body {
			top: auto;
			bottom: calc(100% + 0.25rem);
		}
	}
	// .dropdown__button
	&__button {
		position: relative;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		width: 100%;
		border-radius: 6.25rem;
		background: $grey;
		color: $black;
		gap: rem(7);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.25rem;
		z-index: 1;
		padding: 0.75rem 2.75rem;
		font-size: 0.875rem;
		line-height: 145%;
		min-height: 2.5rem;
		height: 100%;
		.dropdown--grey & {
			border-radius: 0.3125rem;
			padding: em(1.3, 1.25) em(0.87, 1.25);
			background: rgba(217, 217, 217, 0.67);
			color: #151515;
			font-weight: 300;
			line-height: 110%;
			font-size: 1rem;
			justify-content: space-between;
			@media (min-width: $md4) {
				font-size: 1.25rem;
			}
			&::before {
				transform: rotate(90deg);
				transition: transform 0.3s ease;
				@extend %ic, .icon-next;
			}
		}
		&.selected {
			color: #232c32;
		}
		&::before {
			order: 1;
			width: 1.22rem;
			height: 1.22rem;
			font-size: 1.22rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&:disabled {
			opacity: 0.45;
			pointer-events: none;
			user-select: none;
		}
	}

	// .dropdown__button-text
	&__button-text {
		text-align: left;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		text-overflow: ellipsis;
		overflow: hidden;
		hyphens: auto;
		min-width: 2.13rem;
	}

	&__body {
		position: absolute;
		right: 0;
		top: calc(100% + 0.25rem);
		width: 100%;
		z-index: 4;
		padding: 0.25rem;
		border-radius: 0.5rem;
		border: rem(1) solid rgba($color: $grey, $alpha: 0.8);
		background: $black;
		box-shadow:
			0 rem(12) 1rem rem(-4) rgba(16, 24, 40, 0.08),
			0 rem(4) rem(6) rem(-2) rgba(16, 24, 40, 0.03);
		transition: 0.2s ease;

		opacity: 0;
		visibility: hidden;
		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}
	&__list {
		max-height: rem(280);
		overflow-x: hidden;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: rem(5);
		}
		&.has-scroll {
			padding-right: rem(10);
		}
		&::-webkit-scrollbar-track {
			background: $black;
			border-radius: rem(5);
		}
		&::-webkit-scrollbar-thumb {
			background: $red;
			border-radius: rem(5);
			@media (any-hover: hover) {
				&:hover {
					background: darken($color: $red, $amount: 10);
				}
			}
		}
	}
	&__list-item {
		cursor: pointer !important;
		white-space: nowrap;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
		color: #a4a7ae;
		font-size: 0.875rem;
		line-height: 137.5%;
		padding: 0.375rem 0.5rem;
		border-radius: 0.375rem;
		min-height: 1.38rem;
		font-weight: 400;
		&:not(.active, [aria-checked="true"]) {
			@media (any-hover: hover) {
				&:hover {
					color: #fff;
				}
			}
		}
		transition: color 0.3s ease 0s;
		&.active,
		&[aria-checked="true"] {
			color: $black;
			background: $grey;
		}
		&[aria-disabled="true"] {
			opacity: 0.5;
			pointer-events: none;
			display: none;
		}
	}
}
