.about {
	padding: rem(30) 0;
	@media (min-width: $md6) {
		padding: rem(30) 1rem;
	}
	@media (min-width: $md5) {
		padding: rem(100) 0 rem(60);
	}
	// .about__block
	&__block {
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (min-width: $md4) {
				margin-bottom: rem(100);
			}
		}
		&:nth-child(even) {
			.about__title {
				margin-bottom: rem(50);
				@media (min-width: $md4) {
					margin-bottom: rem(100);
				}
			}
		}
	}
	// .about__title
	&__title {
		margin-bottom: rem(17);
		@media (min-width: $md4) {
			margin-bottom: rem(40);
		}
		&.text-right {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
		&.text-center {
			max-width: rem(940);
			margin-inline: auto;
			line-height: 1;
		}
	}
	// .about__body
	&__body {
		display: flex;
		gap: 2rem;
		flex-direction: column-reverse;
		@media (min-width: $md4) {
			flex-direction: row;
		}
		&--small {
			margin-inline: auto;
			max-width: 64.1875rem;
		}
	}
	// .about__desc
	&__desc {
		flex: 1 1 auto;
		line-height: 120%;
		font-size: 0.75rem;
		@media (min-width: $md4) {
			font-size: 1rem;
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
	}
	&__desc-row {
		display: flex;
		gap: rem(30);
	}
	// .about__info
	&__info {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: flex-end;
		flex: 1 1 auto;
		.about__title {
			margin-bottom: rem(20);
		}
		@media (min-width: $md3) {
			gap: 2rem;
		}
		.about__desc {
			flex: 0 1 auto;
			padding-bottom: 2rem;
			max-width: 28.9375rem;
		}
	}
	// .about__image
	&__image {
		&--desktop {
			@media (max-width: $md4) {
				display: none;
			}
		}
		&--mobile {
			flex: 0 0 45%;
			@media (min-width: $md4) {
				display: none;
			}
		}
		@media (min-width: $md4) {
			flex: 0 0 50%;
		}
	}
	// .about__side
	&__side {
		display: flex;
		align-items: flex-end;
		gap: rem(13);
		font-size: 0.75rem;
		order: 1;
		padding-right: 0.5rem;
		margin-inline: -1rem;
		@media (min-width: $md6) {
			margin-inline: -3rem;
		}
		@media (min-width: $md4) {
			padding-right: 0;
			order: 0;
			font-size: 1rem;
			align-items: flex-start;
			flex-direction: column;
			gap: 4.5rem;
			margin-right: 0.5rem;
			flex: 0 0 15.3125rem;
		}
		.about__image {
			aspect-ratio: 1;
			width: 11.5625rem;
			flex: 0 0 11.5625rem;
			@media (min-width: $md4) {
				flex: 0 1 auto;
			}
		}
		& + .about__image {
			flex: 1 1 auto;
			@media (max-width: $md4) {
				margin-inline: -3rem;
			}
			@media (max-width: $md6) {
				margin-inline: -1rem;
			}
		}
	}
}

.marquee {
	padding: rem(30) 0;

	// .marquee__text
	&__text {
		padding: 0 1rem;
	}
}

.media {
	padding: 1rem 0 3.5rem;
	// .media__slider
	&__slider {
		overflow: visible;
	}
	// .media__slide
	&__slide {
		position: relative;
		aspect-ratio: math.div(259, 372);
		&.swiper-slide {
			width: rem(139);
			@media (min-width: $md5) {
				width: rem(259);
			}
			@media (min-width: $md3) {
				width: 100%;
			}
		}
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 2.5rem;
			transition: color 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: $red;
				}
			}
		}
	}
	// .media__btn
	&__btn {
		margin-top: rem(24);
		width: fit-content;
		min-width: 11.25rem;
		min-height: rem(40);
		display: flex;
		margin-inline: auto;
	}
}
