.catalog {
	// .catalog__content
	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(rem(264), 1fr));
		gap: 4rem;
		row-gap: 5.5rem;
		max-width: rem(1250);
	}
}

.product-card {
	display: flex;
	flex-direction: column;
	// .product-card__image
	&__image {
		display: block;
		border-radius: 0.0625rem;
		overflow: hidden;
		aspect-ratio: math.div(264, 200);
		& img {
			transition: transform 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.05);
				}
			}
		}
	}
	// .product-card__info
	&__info {
		margin-top: 1.5rem;
		flex: 1 1 auto;
	}
	// .product-card__name
	&__name {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .product-card__desc
	&__desc {
		margin-top: 0.88rem;
		font-size: 1rem;
		line-height: 120%;
		color: rgba(228, 228, 228, 0.8);
	}
	// .product-card__prices
	&__prices {
		margin-top: 1.75rem;
		display: flex;
		align-items: center;
		gap: 1.12rem;
	}
	// .product-card__prices-item
	&__prices-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 0.88rem;
		font-size: 1rem;
		line-height: 120%;
	}
	// .product-card__prices-property
	&__prices-property {
		padding: 0.34rem 0.5rem;
		border: rem(1) solid;
		border-radius: 6.25rem;
	}
	// .product-card__prices-value
	&__prices-value {
	}
	// .product-card__footer
	&__footer {
		margin-top: 1.12rem;
		display: flex;
		gap: 0.31rem;
	}
	// .product-card__btn
	&__btn {
	}
	// .product-card__cart
	&__cart {
		width: 3.75rem;
		flex-shrink: 0;
	}
}
