.contacts {
	padding: rem(25) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}
	// .contacts__header
	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
	// .contacts__icon
	&__icon {
		max-width: rem(50);
		@media (min-width: $md4) {
			max-width: rem(138);
		}
	}
	// .contacts__title
	&__title {
	}
	// .contacts__map
	&__map {
		margin-top: rem(24);

		@media (min-width: $md4) {
			margin-top: rem(100);
		}
	}
}

.yandex-map {
	margin: rem(50) 0 rem(25);
	height: 30.0625rem;
	@media (min-width: $md4) {
		margin: rem(185) 0 rem(50);
	}
}
[class*="ymaps-2-1-"][class*="-ground-pane"] {
	filter: grayscale(1);
}
