.deposits {
	padding: rem(20) 0rem;

	@media (min-width: $md5) {
		padding: 3.75rem 0;
	}
	&__header {
		color: rgba($color: $grey, $alpha: 0.8);
		@media (max-width: $md5) {
			@media (min-width: $md6) {
				padding: 0 1rem;
			}
		}
	}

	// .deposits__slider
	&__slider {
		overflow: visible;
		margin-top: rem(18);
		@media (min-width: $md4) {
			margin-top: rem(60);
		}
	}
	// .deposits__card
	&__card {
		&.swiper-slide {
			width: rem(264);
		}
	}
	// .deposits__card-image
	&__card-image {
		aspect-ratio: math.div(264, 200);
	}
	// .deposits__card-name
	&__card-name {
		font-size: 1.25rem;
		margin-top: 1.5rem;
	}
	// .deposits__card-footer
	&__card-footer {
		margin-top: rem(26);
		display: flex;
		gap: rem(5);
	}
	// .deposits__card-buy
	&__card-buy {
		min-height: rem(40);
		flex: 1 1 auto;
	}
	&__card-cart {
		min-height: rem(40);
		flex: 0 0 rem(60);
	}
	// .deposits__content
	&__content {
		margin-top: 4.06rem;
		@media (min-width: $md4) {
			margin-top: rem(97);
		}
	}
	// .deposits__heading
	&__heading {
		display: flex;
		justify-content: space-between;
	}
	// .deposits__heading-block
	&__heading-block {
		border: rem(1) solid;
		font-weight: 500;
		line-height: 110%;
		text-align: center;
		border-radius: 6.25rem;
		padding: 0.62rem 0.34rem;
		@media (min-width: $md5) {
			font-size: 1.25rem;
			padding: 1.25rem;
			width: 14.43063rem;
		}
	}
	// .deposits__list
	&__list {
		display: flex;
		flex-direction: column;
		margin-top: 1.81rem;
		gap: 0.75rem;
		@media (min-width: $md5) {
			margin-top: 2.5rem;
			gap: 2.5rem;
		}
	}
	// .deposits__item
	&__item {
		border-radius: 4.1875rem;
		background: #720806;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.12rem 0.87rem;
		font-weight: 500;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
			padding: 3rem 4.54rem;
		}
	}
	// .deposits__item-price
	&__item-price {
		text-align: left;
		@media (min-width: $md4) {
			flex: 0 0 33.33%;
		}
	}
	// .deposits__item-bonus
	&__item-bonus {
		text-align: center;
		@media (min-width: $md4) {
			flex: 0 0 33.33%;
		}
	}
	// .deposits__item-time
	&__item-time {
		text-align: right;
		@media (min-width: $md4) {
			flex: 0 0 33.33%;
		}
	}
	// .deposits__hint
	&__hint {
		margin-top: 1.25rem;
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 145%;
	}
}
