.hero {
	background: url("@img/hero.jpg") center 0 / cover no-repeat;
	color: rgba(228, 228, 228, 0.8);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50rem;
	@media (min-width: $md2) {
		height: 65.9375rem;
	}
	// .hero__year
	&__year {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 110%;
	}
	// .hero__title
	&__title {
	}
	// .hero__subtitle
	&__subtitle {
		margin-top: 0.5rem;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 110%;
		max-width: 16.5625rem;
		margin-inline: auto;
	}
}

.about {
	background: url("@img/about.jpg") 0 0 / cover no-repeat;
}

.description {
	padding: 3.75rem 0;
	background: linear-gradient(180deg, rgba(180, 2, 0, 0.63) 0%, rgba(36, 1, 1, 0.63) 100%);
	// .description__container
	&__container {
	}
	// .description__caption
	&__caption {
		color: rgba(84, 61, 47, 0.4);
		font-size: 0.875rem;
		line-height: 145%;
	}
	// .description__title
	&__title {
		margin-top: 0.94rem;
		max-width: 35.5rem;
	}
	// .description__text
	&__text {
		margin-top: 1.13rem;
		display: flex;
		line-height: 120%;
		gap: 2.06rem;
		& p {
			max-width: 19.6875rem;
			&:nth-child(even) {
				max-width: 16rem;
			}
		}
	}
	// .description__services
	&__services {
		margin-top: 2.5rem;
		@media (min-width: $md2) {
			margin-top: rem(60);
		}
	}
}

.services {
	&__slider {
		overflow: visible;
	}
	// .services__card
	&__card {
		position: relative;
		background: $red;
		aspect-ratio: math.div(266, 219);
		display: flex;
		overflow: hidden;
		border-radius: rem(5);
		&.swiper-slide {
			width: rem(266);
		}
	}
	// .services__card-link
	&__card-link {
		&::before {
			position: absolute;
			top: rem(14);
			right: rem(16);
			font-size: rem(42);
		}
	}
	// .services__card-image
	&__card-image {
	}
	// .services__card-text
	&__card-text {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: rem(14) rem(26);
	}
}

.banner {
	padding: 7rem 0;
	min-height: 33.9375rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	// .banner__title
	&__title {
		max-width: 60rem;
		margin-inline: auto;
	}
}

.locations {
	padding: rem(64) 0 0;
	// .locations__header
	&__header {
		display: flex;
		align-items: center;
	}
	// .locations__title
	&__title {
		flex: 0 0 rem(480);
		text-align: right;
		line-height: 0.95;
	}
	// .locations__list
	&__list {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		gap: rem(8);
		padding: 0 rem(30);
	}
	// .locations__item
	&__item {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(2, 1fr);

		&::before {
			content: "";
			height: rem(1);
			width: rem(152);
			margin: 0 auto;
			background: $grey;
		}
	}
	// .locations__link
	&__link {
		transition: color 0.3s ease;

		width: fit-content;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	&__video {
		margin-top: rem(50);
	}
}

.brands {
	padding: rem(60) 0;
	// .brands__container
	&__container {
	}
	// .brands__title
	&__title {
		font-size: 0.875rem;
		line-height: 145%;
	}
	// .brands__list
	&__list {
		margin-top: 0.44rem;
		gap: 1rem;
		display: grid;
		align-items: center;
		justify-content: center;
		grid-template-columns: repeat(2, 1fr);
		@media (min-width: $md4) {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		@media (min-width: $md2) {
			padding: 0 3.26rem 0 2.26rem;
		}
	}
	// .brands__item
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: center;
		justify-self: center;
		& img {
			max-height: 11.375rem;
			width: auto;
		}
	}
}

.capabilities {
	padding: rem(100) 0 rem(50);
	// .capabilities__header
	&__header {
	}
	// .capabilities__content
	&__content {
	}
	// .capabilities__list
	&__list {
		margin-top: 1.75rem;
		display: grid;
		align-items: start;
		gap: rem(15);
		grid-template-columns: repeat(4, 1fr);
		@media (min-width: $md1) {
			margin-right: -2rem;
		}
	}
	// .capabilities__item
	&__item {
		border-radius: 0.3125rem;
		border: rem(1) solid #e4e4e4;
		padding: 0.7rem;
		display: flex;
		flex-direction: column;
		&:nth-child(4n + 2) {
			margin-top: 3.8rem;
		}
		&:nth-child(4n + 3) {
			margin-top: -2.5rem;
		}
		&:nth-child(4n + 4) {
			margin-top: 8.6rem;
		}
	}
	// .capabilities__item-image
	&__item-image {
		border-radius: 0.3125rem;
		aspect-ratio: 1;
		overflow: hidden;
	}
	// .capabilities__item-title
	&__item-title {
		margin-top: rem(18);
		margin-right: rem(-4);
	}
	// .capabilities__item-desc
	&__item-desc {
		margin-top: 0.5rem;
		opacity: 0.5;
		font-size: 1rem;
		line-height: 120%;
	}
	// .capabilities__footer
	&__footer {
		margin-top: -1.5rem;
	}
	// .capabilities__desc
	&__desc {
		display: flex;
		padding-right: 25%;
		& p {
			line-height: 1.2;
			max-width: 26.3125rem;
		}
	}
}

.brands {
	padding: rem(50) 0 rem(100);
	// .brands__slider
	&__slider {
		margin-top: rem(40);
	}
	// .brands__slide
	&__slide {
		align-self: center;
		width: fit-content;
		height: rem(104);
		display: flex;
		align-items: center;
		justify-content: center;
		& img {
			width: auto;
			max-height: 100%;
		}
	}
}

.video {
	padding: 0 rem(30) rem(60);
	// .video__poster
	&__poster {
	}
}
