.hero {
	position: relative;
	z-index: 1;
	padding: 1.75rem 0 rem(20);

	// .hero__banner
	&__banner {
		min-height: rem(671);
		padding: rem(50) 0 rem(50);
		color: #F9F0E2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;

	}

	// .hero__video
	&__video {
		width: 15.9375rem;
		border-radius: 0.625rem;
		background: rgba(249, 240, 226, 0.16);
		padding: 0.5rem 1rem;
		gap: rem(15);
		display: flex;
		align-items: center;
		position: absolute;
		right: 4rem;
		top: 50%;
		transform: translateY(-50%);
		transition: background-color 0.3s ease, color 0.3s ease;

		&::before {
			font-size: 2.6875rem;
			width: 2.6875rem;
			height: 2.6875rem;
			flex-shrink: 0;
		}

		@media (any-hover: hover) {
			&:hover {
				background: rgba(249, 240, 226, 1);
				box-shadow: 0 0 0.25rem 0 rgba(249, 240, 226, 0.5);
				color: $red;
			}
		}
	}

	// .hero__offer
	&__offer {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		margin: auto;
		max-width: 37.5625rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding-bottom: 2.25rem;
	}


	// .hero__title
	&__title {
		max-width: 24rem;
	}

	// .hero__subtitle
	&__subtitle {
		margin-top: 1rem;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 110%;

	}

	// .hero__search
	&__search {
		margin-top: auto;
		position: relative;
		max-width: rem(230);
		width: 100%;
	}

	// .hero__search-btn
	&__search-btn {
		width: 1.5rem;
		height: 1.5rem;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0.56rem;
	}

	// .hero__search-input
	&__search-input {
		border-radius: 6.25rem;
		border: rem(1) solid #E4E4E4;
		padding: 0.5rem 1.25rem 0.5rem 2rem;
		background: transparent;
		color: #fff;
		font-family: Inter;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 145%;
		text-overflow: ellipsis;
		transition: border-color 0.3s ease;

		&::placeholder {
			color: #e4e4e4;
			opacity: 0.8;
		}

		&:focus {
			border-color: #AF290E;
		}
	}

	// .hero__btns
	&__btns {
		margin-top: rem(24);
		display: flex;
		gap: rem(14);
	}

	// .hero__btn
	&__btn {}
}

.benefits {
	padding: rem(20) 0;


	// .benefits__list
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
		font-family: $font-bebas;
		font-size: 1.5rem;
		font-weight: 400;
		font-synthesis: none;
		line-height: 110%;
		text-transform: uppercase;
		border-bottom: rem(2) solid #290F0A;
		padding-bottom: rem(43);

		& li {
			max-width: 18rem;
		}
	}
}

.categories {
	padding: rem(16) 0;

	// .categories__list
	&__list {
		margin-top: 1.25rem;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(20);
	}

	// .categories__card
	&__card {}

	// .categories__card-link
	&__card-link {
		position: relative;
		aspect-ratio: 1;
		border: rem(1) solid #290F0A;
		color: #290F0A;
		font-size: 1rem;
		font-weight: 500;
		line-height: 80%;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 1rem;
		overflow: hidden;
		transition: background-color 0.3s ease;


		&:has(.categories__card-image) {
			border-color: transparent;
			color: #F9F0E2;
		}

		@media (any-hover: hover) {
			&:hover {
				background: #290F0A;
				color: #F9F0E2;

				.categories__card-image {
					transform: scale(1.25);
				}
			}
		}
	}

	// .categories__card-image
	&__card-image {
		position: absolute;
		inset: 0;
		transition: transform 0.3s ease;
	}

	// .categories__card-name
	&__card-name {
		z-index: 1;
	}
}

.extras {
	padding: rem(26) 0 rem(32);

	@media (min-width: $md5) {
		padding: rem(36) 0;
	}

	// .extras__title
	&__title {
		font-weight: 400;
		line-height: 0.8;
		color: #290F0A;
	}

	// .extras__list
	&__list {
		display: grid;
		gap: rem(20);
		margin: rem(24) 0 0;
		padding: 0;
		list-style: none;

		@media (min-width: $md4) {
			grid-template-columns: repeat(3, 1fr);
			margin-top: rem(18);
		}

		@media (max-width: ($md4 - 0.02)) {
			grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
		}

		.product-card {
			width: 100%;
		}
	}
}

.video-block {
	padding: 1.25rem 0;
	position: relative;
	display: block;

	&:hover {
		&::before {
			transform: scale(1.125) translate(-50%, -50%);
			color: #AF290E;
		}
	}

	&:active {
		&::before {
			transform: translate(-50%, -50%);
		}

	}

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #F9F0E2;
		font-size: 5.8125rem;
		transform-origin: 0 0;
		transition: transform 0.3s ease, color 0.3s ease;
	}

	& img {
		width: 100%;
	}
}






// .benefits {
// 	padding: 1.375rem 0rem;

// 	@media (min-width: $md6) {
// 		padding: 1.375rem 1rem;
// 	}

// 	@media (min-width: $md5) {
// 		padding: 2.5rem 0;
// 	}

// 	// .benefits__title
// 	&__title {}

// 	// .benefits__list
// 	&__list {
// 		display: grid;
// 		gap: 2rem;

// 		&:not(:first-child) {
// 			margin-top: 4.75rem;
// 		}

// 		@media (min-width: $md5) {
// 			gap: rem(40);
// 			grid-template-columns: repeat(2, 1fr);

// 			&:not(:first-child) {
// 				margin-top: rem(100);
// 			}
// 		}

// 		@media (min-width: $md3) {
// 			display: flex;
// 			justify-content: space-between;

// 			&--large {
// 				flex-wrap: wrap;
// 				justify-content: center;

// 				.benefits__item {
// 					flex: 0 0 calc(33.33% - rem(40));
// 				}
// 			}
// 		}
// 	}

// 	// .benefits__item
// 	&__item {
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 		text-align: center;
// 	}

// 	// .benefits__item-icon
// 	&__item-icon {}

// 	// .benefits__item-title
// 	&__item-title {
// 		margin-top: rem(32);

// 		@media (max-width: $md5) {
// 			font-size: 1rem;
// 			margin-top: 1rem;
// 		}
// 	}

// 	// .benefits__note
// 	&__note {
// 		margin-top: rem(40);
// 		color: rgba($color: #fff, $alpha: 0.6);

// 		@media (max-width: $md5) {
// 			display: none;
// 		}
// 	}

// 	// .benefits__more
// 	&__more {
// 		margin-top: rem(60);
// 		width: fit-content;
// 		min-width: 11.25rem;
// 		min-height: rem(40);
// 		display: flex;
// 		margin-inline: auto;
// 	}
// }

.services {
	&__slider {
		overflow: visible;
	}

	// .services__card
	&__card {
		position: relative;
		background: $red;
		aspect-ratio: math.div(266, 219);
		display: flex;
		overflow: hidden;
		border-radius: rem(5);

		&.swiper-slide {
			width: rem(199);

			@media (min-width: $md5) {
				width: rem(266);
			}
		}
	}

	// .services__card-link
	&__card-link {
		display: block;
		width: 100%;
		height: 100%;

		&::before {}

		&:hover {
			.services__card-info {
				&::before {
					// @extend %ic, .icon-minus;
					transform: rotate(360deg);
				}

				& span {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	// .services__card-info
	&__card-info {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		padding: rem(10) rem(40) rem(10) rem(12);

		& span {
			position: relative;
			opacity: 0;
			visibility: hidden;
			transition: all 0.2s ease;

			&::before {
				content: "";
				position: absolute;
				top: 0.65rem;
				right: calc(100% + 0.7rem);
				width: 0.2rem;
				height: 0.2rem;
				border-radius: 50%;
				background: currentColor;
			}
		}

		@media (min-width: $md5) {
			padding: rem(19) rem(50) rem(19) rem(25);
		}

		&::before {
			font-size: rem(34);
			color: rgba(228, 228, 228, 0.8);
			position: absolute;
			top: rem(19);
			right: rem(25);
			transition: transform 0.2s ease;

			@media (min-width: $md5) {
				font-size: 1.875rem;
			}
		}
	}

	// .services__card-image
	&__card-image {}

	// .services__card-text
	&__card-text {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: rem(14) rem(20);

		@media (min-width: $md4) {
			padding: rem(14) rem(26);
		}
	}
}


.tagline {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	padding: 5rem 0;

	@media (min-width: $md4) {
		min-height: 25rem;
		padding: 5.5rem 0 4rem;
	}

	@media (min-width: $md3) {
		background-position: right top;
		min-height: 33.9375rem;
	}

	// .tagline__title
	&__header {
		max-width: rem(700);
		margin-left: auto;
		text-align: center;
		margin-right: auto;

		@media (min-width:$md3) {
			margin-right: 0;
			text-align: left;
		}
	}

	// .tagline__title
	&__title {


		@media (max-width:$md5) {
			letter-spacing: -0.14rem;
			font-size: 2rem;
			margin: 0 -1.5rem;
		}
	}

	// .tagline__desc
	&__desc {
		margin-top: rem(15);
		color: #E4E4E4;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 110%;
		max-width: 37.5625rem;
	}

	// .tagline__list
	&__list {


		display: none;

		@media (min-width:$md3) {
			margin-top: 5rem;
			display: grid;
			gap: rem(14);
			grid-template-columns: repeat(4, 1fr);

		}
	}
}



.capability-item {
	border-radius: 1.25rem;
	min-height: rem(32);
	display: flex;
	flex-direction: column;
	background: #282828;

	@media (min-width:$md3) {
		background: #151515;
	}


	// .capability-item__image
	&__image {
		position: relative;
		border-radius: 1.25rem 1.25rem 0 0;
		height: 0;
		width: 100%;
		overflow: hidden;
		padding-bottom: #{math.div(238, 270)*100%};

		& img {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	// .capability-item__title
	&__title {
		color: #E4E4E4;
		font-size: 1rem;
		line-height: 120%;
		padding: 0.5rem 1.25rem;
	}



}


.capabilities {
	&.capabilities-mobile {
		@media (min-width:$md3) {
			display: none;
		}
	}

	padding: rem(32) 0 rem(16);

	@media (min-width: $md5) {
		padding: rem(100) 0 rem(50);
	}

	// .capabilities__header
	&__header {
		@media (min-width: $md6) {
			padding: 0 1rem;
		}

		@media (min-width: $md5) {
			padding: 0;
		}
	}

	// .capabilities__content
	&__content {}

	// .capabilities__list
	&__list {
		display: grid;
		align-items: start;
		margin-top: 0.75rem;
		gap: rem(10);

		@media (min-width: $md4) {
			gap: rem(15);
			margin-top: 1.75rem;
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: $md3) {
			grid-template-columns: repeat(4, 1fr);
		}

		@media (min-width: $md1) {
			margin-right: -2rem;
		}
	}


	// .capabilities__footer
	&__footer {
		margin-top: 0.75rem;

		@media (min-width: $md3) {
			margin-top: -1.5rem;
		}
	}

	// .capabilities__desc
	&__desc {
		display: flex;
		flex-direction: column;
		font-size: rem(12);
		gap: rem(12);

		@media (min-width: $md5) {
			gap: 0;
			font-size: 1rem;
			flex-direction: row;
		}

		@media (min-width: $md3) {
			padding-right: 25%;
		}

		& p {
			line-height: 1.2;
			max-width: rem(230);

			@media (max-width: $md5) {
				&:nth-child(even) {
					margin-left: auto;
				}
			}

			@media (min-width: $md5) {
				max-width: 26.3125rem;
			}
		}
	}
}


.video {
	padding: 0 rem(0) rem(16);

	@media (min-width: $md5) {
		padding: 0 rem(30) rem(60);
	}

	// .video__poster
	&__poster {
		& img {
			min-height: rem(274);
		}
	}

	&__block {
		width: 100%;
		height: 100%;
		max-width: 100%;
		object-fit: cover;
		object-position: top center;
		// max-height: rem(455);
	}
}