.hero {
	background-color: $black;
	background-image: url("@img/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: rgba(228, 228, 228, 0.8);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
	height: rem(683);
	background-position: 75% 0;
	padding: $headerHeight 0;
	@media (min-width: $md5) {
		justify-content: center;
		background-position: center 0;
	}
	@media (min-width: $md4) {
		height: 50rem;
	}
	@media (min-width: $md2) {
		height: 65.9375rem;
	}
	// .hero__year
	&__year {
		display: none;
		@media (min-width: $md5) {
			display: block;
			font-size: 1.25rem;
			font-weight: 500;
			line-height: 110%;
		}
	}
	// .hero__title
	&__title {
	}
	// .hero__subtitle
	&__subtitle {
		margin-top: 0.5rem;
		max-width: 16.5625rem;
		margin-inline: auto;
		font-size: 0.875rem;
		line-height: 110%;
		text-transform: uppercase;
		@media (min-width: $md5) {
			text-transform: none;
			font-size: 1.25rem;
			font-weight: 500;
		}
	}
	&__buy {
		margin-top: 12rem;
		@media (min-width: $md5) {
			display: none;
		}
	}
}

.about {
	@media (min-width: $md5) {
		background: url("@img/about.jpg") 0 0 / cover no-repeat;
	}
}

.description {
	background: linear-gradient(180deg, rgba(180, 2, 0, 0.63) 0%, rgba(36, 1, 1, 0.63) 100%);
	padding: 2rem 0 rem(20);
	@media (min-width: $md6) {
		padding: 2rem 1rem rem(20);
	}
	@media (min-width: $md5) {
		padding: 3.75rem 0;
	}

	// .description__header
	&__header {
		.section-header__caption {
			@media (max-width: $md5) {
				display: none;
			}
		}
		.section-header__title {
			& span {
				white-space: nowrap;
			}
		}
	}

	// .description__caption
	&__caption {
		color: rgba(84, 61, 47, 0.4);
		font-size: 0.875rem;
		line-height: 145%;
	}
	// .description__title
	&__title {
		margin-top: 0.94rem;
		max-width: 35.5rem;
	}
	// .description__text
	&__text {
		line-height: 120%;
		display: grid;
		gap: rem(12);
		font-size: 0.75rem;
		margin-top: 0.75rem;
		@media (min-width: $md5) {
			margin-top: 1.13rem;
			font-size: 1rem;
		}
		@media (min-width: $md4) {
			gap: 2.06rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			display: flex;
		}
		& p {
			&:nth-child(even) {
				max-width: 14.5rem;
			}
			@media (min-width: $md3) {
				max-width: 19.6875rem;
				&:nth-child(even) {
					max-width: 16rem;
				}
			}
		}
	}
	// .description__services
	&__services {
		margin-top: rem(16);
		@media (min-width: $md4) {
			margin-top: 2.5rem;
		}
		@media (min-width: $md2) {
			margin-top: rem(60);
		}
	}
}

.services {
	&__slider {
		overflow: visible;
	}
	// .services__card
	&__card {
		position: relative;
		background: $red;
		aspect-ratio: math.div(266, 219);
		display: flex;
		overflow: hidden;
		border-radius: rem(5);
		&.swiper-slide {
			width: rem(199);
			@media (min-width: $md5) {
				width: rem(266);
			}
		}
	}
	// .services__card-link
	&__card-link {
		display: block;
		width: 100%;
		height: 100%;
		&::before {
			position: absolute;
			top: rem(10);
			right: rem(12);
			font-size: rem(34);
			@media (min-width: $md5) {
				top: rem(14);
				right: rem(16);
				font-size: rem(42);
			}
		}
	}
	// .services__card-image
	&__card-image {
	}
	// .services__card-text
	&__card-text {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: rem(14) rem(20);
		@media (min-width: $md4) {
			padding: rem(14) rem(26);
		}
	}
}

.locations {
	padding: rem(16) 0;
	@media (min-width: $md4) {
		padding: rem(64) 0 0;
	}
	// .locations__header
	&__header {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2rem;
		@media (min-width: $md3) {
			gap: 0;
			flex-direction: row;
		}
	}
	// .locations__title
	&__title {
		text-align: right;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		line-height: 1.1;
		@media (max-width: $md4) {
			// letter-spacing: 0;
			width: rem(300);
			& span {
				&:nth-child(even) {
					align-self: flex-start;
					text-align: left;
				}
			}
		}
		@media (min-width: $md4) {
			line-height: 0.95;
			width: rem(480);
			align-items: flex-end;
		}
	}
	// .locations__list
	&__list {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		gap: rem(14);
		@media (min-width: $md4) {
			gap: rem(8);
			padding: 0 rem(30);
		}
	}
	// .locations__item
	&__item {
		display: grid;
		gap: 1rem;
		grid-template-columns: rem(60) 1fr;
		align-items: center;
		@media (max-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}
		&::before {
			content: "";
			height: rem(1);
			width: 100%;
			margin: 0 auto;
			background: $grey;
			@media (min-width: $md4) {
				width: rem(152);
			}
		}
	}
	// .locations__link
	&__link {
		transition: color 0.3s ease;

		width: fit-content;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	&__video {
		margin-top: rem(32);
		@media (min-width: $md4) {
			margin-top: rem(50);
		}
		& img {
			min-height: rem(168);
		}
	}
}

.banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 5rem 0;
	@media (min-width: $md4) {
		min-height: 25rem;
		padding: 7rem 0;
	}
	@media (min-width: $md3) {
		min-height: 33.9375rem;
	}

	// .banner__title
	&__title {
		margin-inline: auto;
		max-width: 40rem;
		@media (min-width: $md3) {
			max-width: 60rem;
		}
	}
}

.capabilities {
	padding: rem(32) 0 rem(16);
	@media (min-width: $md5) {
		padding: rem(100) 0 rem(50);
	}
	// .capabilities__header
	&__header {
		@media (min-width: $md6) {
			padding: 0 1rem;
		}
		@media (min-width: $md5) {
			padding: 0;
		}
	}
	// .capabilities__content
	&__content {
	}
	// .capabilities__list
	&__list {
		display: grid;
		align-items: start;
		margin-top: 0.75rem;
		gap: rem(10);
		@media (min-width: $md4) {
			gap: rem(15);
			margin-top: 1.75rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media (min-width: $md1) {
			margin-right: -2rem;
		}
	}
	// .capabilities__item
	&__item {
		border-radius: 0.3125rem;
		border: rem(1) solid #e4e4e4;
		min-height: rem(32);
		display: flex;
		flex-direction: column;
		max-width: rem(255);
		padding: 0.7rem 0.7rem 0.45rem;
		@media (max-width: $md5) {
			&:nth-child(even) {
				margin-left: auto;
			}
		}
		@media (min-width: $md5) {
			padding: 0.7rem;
			max-width: 100%;
		}
		@media (min-width: $md3) {
			&:nth-child(4n + 2) {
				margin-top: 3.8rem;
			}
			&:nth-child(4n + 3) {
				margin-top: -2.5rem;
			}
			&:nth-child(4n + 4) {
				margin-top: 8.6rem;
			}
		}
	}
	// .capabilities__item-image
	&__item-image {
		border-radius: 0.3125rem;
		aspect-ratio: 1;
		overflow: hidden;
	}
	// .capabilities__item-title
	&__item-title {
		margin-top: rem(8);
		@media (max-width: $md5) {
			font-size: rem(14);
		}
		@media (min-width: $md5) {
			margin-top: rem(18);
			margin-right: rem(-4);
		}
	}
	// .capabilities__item-desc
	&__item-desc {
		opacity: 0.5;
		font-size: 0.75rem;
		line-height: 110%;
		margin-top: 1rem;
		@media (min-width: $md5) {
			margin-top: 0.5rem;
			font-size: 1rem;
			line-height: 120%;
		}
	}
	// .capabilities__footer
	&__footer {
		margin-top: 0.75rem;
		@media (min-width: $md3) {
			margin-top: -1.5rem;
		}
	}
	// .capabilities__desc
	&__desc {
		display: flex;
		flex-direction: column;
		font-size: rem(12);
		gap: rem(12);
		@media (min-width: $md5) {
			gap: 0;
			font-size: 1rem;
			flex-direction: row;
		}
		@media (min-width: $md3) {
			padding-right: 25%;
		}
		& p {
			line-height: 1.2;
			max-width: rem(230);
			@media (max-width: $md5) {
				&:nth-child(even) {
					margin-left: auto;
				}
			}
			@media (min-width: $md5) {
				max-width: 26.3125rem;
			}
		}
	}
}

.brands {
	padding: rem(16) 0 rem(32);
	@media (min-width: $md6) {
		padding: rem(16) 1rem rem(32);
	}
	@media (min-width: $md5) {
		padding: rem(50) 0 rem(100);
	}
	// .brands__slider
	&__slider {
		margin-top: rem(12);
		@media (min-width: $md5) {
			margin-top: rem(40);
		}
	}
	// .brands__slide
	&__slide {
		align-self: center;
		width: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
		height: rem(70);
		@media (min-width: $md5) {
			height: rem(104);
		}
		& img {
			width: auto;
			max-height: 100%;
		}
	}
}

.video {
	padding: 0 rem(0) rem(16);
	@media (min-width: $md5) {
		padding: 0 rem(30) rem(60);
	}
	// .video__poster
	&__poster {
		& img {
			min-height: rem(274);
		}
	}
}
