.homevisit {
	padding: rem(40) 0 3.75rem;
	// .homevisit__image
	&__image {
	}
	// .homevisit__title
	&__title {
		text-align: center;
		margin-top: 2.5rem;
		font-size: 1rem;
		line-height: 120%;
	}
	// .homevisit__form
	&__form {
		margin-top: 3rem;
		max-width: rem(451);
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		gap: 1.38rem;
		.btn {
			align-self: center;
		}
		@media (min-width: $md4) {
			margin-top: 6.25rem;
		}
	}
	// .homevisit__form-caption
	&__form-caption {
		color: rgba(228, 228, 228, 0.7);
		font-size: 0.875rem;
		line-height: 145%;
	}
	// .homevisit__form-fields
	&__form-fields {
		margin-top: 0.25rem;
		display: flex;
		flex-direction: column;
		gap: 1.38rem;
	}
	// .homevisit__text
	&__text {
		line-height: 120%;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 0.75rem;
		max-width: 64rem;
		margin-inline: auto;
		margin-top: 3rem;
		@media (min-width: $md5) {
			margin-top: 6.25rem;
			font-size: 0.875rem;
		}
		@media (min-width: $md2) {
			font-size: 1rem;
		}
		& p {
			&:not(:first-child) {
				margin-top: 1.25rem;
			}
		}
	}
}
