.news {
	padding: 4.5rem 0 7.5rem 0;
	@media (min-width: $md2) {
		padding: 8rem 0 12.5rem 0;
	}
	&:first-child {
		padding: 7.5rem 0;
		@media (min-width: $md4) {
			padding: 9.3rem 0 7.5rem 0;
		}
		@media (min-width: $md2) {
			padding: 8.75rem 0 3rem 0;
		}
	}
	// .news__container
	&__container {
	}
	// .news__title
	&__title {
		margin-top: rem(30);
		text-align: center;

		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: rem(150);
			height: rem(1);
			background: #dbd9d7;
		}
		&::first-letter {
			font-family: inherit;
		}
		padding-bottom: rem(50);
		@media (min-width: $md5) {
			padding-bottom: rem(100);
		}
	}
	// .news__filters
	&__filters {
		margin-top: rem(54);
		display: flex;
		flex-wrap: wrap;
		gap: rem(4);
	}
	// .news__filter
	&__filter {
		@media (min-width: $md5) {
			padding: rem(8.5) rem(24);
		}
		&.active {
			@extend .btn_brown;
		}
	}
	// .news__body
	&__body {
		&:not(:first-child) {
			margin-top: rem(36);
			@media (min-width: $md5) {
				margin-top: rem(74);
			}
		}
	}
	&__hint {
		margin-bottom: rem(15);
		@extend .certs__caption;
	}
	// .news__caption
	&__caption {
		&::first-letter {
			font-family: inherit;
		}
	}
	// .news__list
	&__list {
		margin-top: rem(30);
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(rem(270), 1fr));
		gap: rem(28);
		row-gap: 3.5rem;
		@media (min-width: $md2) {
			padding-right: rem(20);
		}
	}
	// .news__item
	&__item {
	}
	// .news__item-header
	&__item-header {
		overflow: hidden;
		position: relative;
		border-radius: rem(5);

		display: flex;
		flex-direction: column;
		& + .news__item-btn {
			margin-top: 1rem;
		}
		@media (min-width: $md5) {
			aspect-ratio: math.div(304, 414);
		}
		@media (any-hover: hover) {
			&:hover {
				.news__item-image img {
					transform: scale(1.1);
				}
			}
		}
	}
	// .news__item-image
	&__item-image {
		& img {
			transition: transform 0.3s ease;
		}
	}
	// .news__item-bottom
	&__item-bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		color: #fff;
		padding: rem(17) rem(12) rem(20) rem(17);
	}
	// .news__item-time
	&__item-time {
		color: #f7f6f2;
		font-family: Cormorant;
		font-size: 1.25rem;
		line-height: 110%;
		letter-spacing: -0.025rem;
	}
	// .news__item-title
	&__item-title {
		margin-top: 0.5rem;
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 110%;
		letter-spacing: -0.025rem;

		min-height: 4.125rem;
	}
	// .news__item-desc
	&__item-desc {
		margin-top: 0.75rem;
		color: #543d2f;
		font-family: Jost;
		font-size: 1.125rem;
		line-height: 145%;
		padding: 0 0.75rem 0 0.25rem;
	}
	// .news__item-btn
	&__item-btn {
		margin-top: 0.5rem;
		min-width: 12.25rem;
	}
	// .news__more
	&__more {
		margin-top: 4.44rem;
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
		display: flex;
		min-width: 11.25rem;
	}
}
