.news {
	position: relative;
	padding: 0 0 rem(40);

	@media (min-width: $md5) {
		padding-bottom: rem(80);
	}

	&__filters {
		margin-bottom: 1.56rem;
	}

	// .news__slider
	&__slider {
		overflow: visible;
		margin-top: rem(32);

		@media (min-width: $md4) {
			margin-top: rem(26);
		}
	}

	// .news__slider-prev
	&__slider-prev {
		--swiper-navigation-sides-offset: 2rem;

		@media (max-width: $md5) {
			display: none;
		}
	}

	// .news__slider-next
	&__slider-next {
		--swiper-navigation-sides-offset: 2rem;

		@media (max-width: $md5) {
			display: none;
		}
	}

	// .news__item
	&__item {
		&.swiper-slide {
			width: rem(207);

			@media (min-width: $md5) {
				width: rem(304);
			}
		}
	}

	// .news__item-header
	&__item-header {
		overflow: hidden;
		position: relative;
		border-radius: rem(5);
		display: flex;
		flex-direction: column;

		&::after {
			content: "";
			position: absolute;
			inset: auto 0 0;
			height: 55%;
			background: linear-gradient(180deg, rgba(41, 15, 10, 0) 0%, rgba(41, 15, 10, 0.85) 100%);
			pointer-events: none;
		}

		@media (min-width: $md4) {
			aspect-ratio: math.div(304, 414);
		}

		@media (any-hover: hover) {
			&:hover {
				.news__item-image img {
					transform: scale(1.1);
				}
			}
		}
	}

	// .news__item-image
	&__item-image {
		display: block;
		height: 100%;

		& img {
			transition: transform 0.3s ease;
		}
	}

	// .news__item-bottom
	&__item-bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		color: $grey;
		padding: rem(0) rem(6) rem(16) rem(12);

		@media (min-width: $md5) {
			padding: rem(0) rem(6) rem(20) rem(16);
		}
	}

	// .news__item-time
	&__item-time {
		display: block;
		font-family: $font-jost;
		font-size: rem(12);
		font-weight: 400;
		line-height: normal;
	}

	// .news__item-title
	&__item-title {
		font-family: $font-jost;
		font-weight: 500;
		margin-top: rem(6);

		min-height: rem(68);

		@media (min-width:$md4) {
			font-size: rem(20);

		}
	}

	// .news__item-btn
	&__item-btn {
		&.btn {
			font-size: 0.875rem;
			padding: 0.75rem 1.25rem;
			max-width: 11.25rem;
			width: 100%;
			min-height: 2.5rem;
			;
		}
	}

	// .news__item-desc
	&__item-desc {
		margin-top: rem(11);
		margin-bottom: rem(19);
		font-size: rem(16);
		line-height: 1.2;
		color: #290f0a;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		text-overflow: ellipsis;
		font-family: $font-jost;
	}

	// .news__grid
	&__grid {
		margin-top: rem(30);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(304), 1fr));
		gap: rem(28);
		row-gap: rem(54);
	}
}

.heading--article {
	padding-bottom: rem(28);

	.breadcrumbs {
		&+.heading__title {
			margin-top: rem(12) !important;
		}

		&__items {
			padding-block: rem(20) 0;

			@media (min-width: $md3) {
				padding-block: rem(28) 0;
			}
		}

		&__item {
			color: rgba(41, 15, 10, 0.8);
		}

		&__link.active {
			color: #290f0a;
		}
	}
}

.article {
	padding: rem(28) 0 rem(40);

	@media (min-width: $md4) {
		padding: rem(48) 0 rem(60);
	}

	// .article__body
	&__body {
		display: flex;
		gap: rem(25);
		flex-direction: column;

		@media (min-width: $md3) {
			align-items: flex-start;
			flex-direction: row;
			gap: rem(59);
			padding-left: 2rem;
		}
	}

	// .article__aside
	&__aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(48);
		width: 100%;

		@media (min-width: $md3) {
			flex: 0 0 rem(436);
			max-width: rem(436);
		}
	}

	// .article__image
	&__image {
		width: 100%;
		border-radius: rem(5);
		overflow: hidden;
		aspect-ratio: math.div(436, 594);
	}

	// .article__btn
	&__btn {
		max-width: rem(197);
		width: 100%;
	}

	// .article__content
	&__content {
		flex: 1 1 auto;
		min-width: 0;
		max-width: 41.1875rem;
	}

	// .article__title
	&__title {
		margin-bottom: rem(22);
		line-height: 1.1;

		@media (min-width: $md3) {
			margin-bottom: rem(30);
		}

		span {
			display: block;
		}
	}

	// .article__text
	&__text {
		&.typography-block {
			padding-top: 0;
			font-size: rem(16);
			line-height: 1.2;

			p:not(:last-child) {
				margin-bottom: rem(16);
			}

			ol {
				margin-top: 0;

				li {
					padding-left: rem(24);
				}
			}
		}
	}
}

.news--article {
	padding-top: rem(40);
	padding-bottom: rem(60);

	@media (min-width: $md5) {
		padding-top: rem(60);
		padding-bottom: rem(100);
	}

	.news__slider {
		margin-top: 0;
	}
}

.typography-block {
	font-size: 1.125rem;
	line-height: 1.55;

	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;

		@media screen and (max-width: $md4) {
			line-height: 1.5;
		}
	}

	h1 {
		margin-top: 0;
		margin-bottom: 2.4rem;
		font-size: 3rem;
		font-weight: 500;
		line-height: 1.25;
	}

	h2 {
		margin: 2.5rem 0 1.25rem;
		font-size: 2.25rem;
		line-height: 116.667%;

		&:first-child {
			margin-top: 0;
		}
	}

	h3 {
		font-size: 1.75rem;
		margin: 2rem 0 1rem;
		line-height: 128.571%;

		&:first-child {
			margin-top: 0;
		}
	}

	h4 {
		font-size: 1.5rem;
		line-height: 1.45;
		margin: 2rem 0 1rem;

		&:first-child {
			margin-top: 0;
		}
	}

	p {
		a {
			color: #1570ef;
		}

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	ul,
	ol {
		margin: 0 0 1.5em;

		@media screen and (max-width: $md4) {
			margin-bottom: 1.2em;
		}

		&:last-child {
			margin-bottom: 0;
		}

		li {
			position: relative;
			padding-left: 2.2rem;

			&::before {
				content: "";
				display: block;
				position: absolute;
				left: 0.3em;
			}
		}
	}

	ul li::before {
		width: 4px;
		height: 4px;
		top: 0.7em;
		background: currentColor;
		border-radius: 50%;
	}

	ol {
		counter-reset: i;

		li::before {
			counter-increment: i;
			content: counter(i) ".";
			top: 0;
		}
	}

	a {
		&:not(.article__more) {
			color: #1570ef;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	& cite,
	& blockquote {
		margin: 1.5rem 0 2rem;
		padding: 1.125rem;
		border-radius: 0.5rem;
		background: #f5f5f5;
		color: #181d27;
		font-weight: 600;
		line-height: 155.556%;
		display: block;
		font-size: 1.125rem;
		padding-left: rem(42);
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 1.125rem;
			left: rem(18);
			bottom: 1.125rem;
			width: rem(4);
			background: #720806;
		}
	}
}