.order {
	min-height: 100vh;
	padding: em(120) em(0);
	@media (min-width: $md4) {
		padding: em(150) em(0);
	}
	@media (min-width: $md2) {
		padding: em(170) em(0);
	}
	// .order__container
	&__container {
		display: flex;
		flex-direction: column-reverse;
		gap: 3.75rem;
		@media (min-width: $md4) {
			gap: rem(20);
			flex-direction: row;
			align-items: flex-start;
		}
	}
	// .order__form
	&__form {
		max-width: 30rem;
		width: 100%;
	}
	// .order__header
	&__header {
		display: flex;
		column-gap: 0.63rem;
	}
	// .order__progress
	&__progress {
	}
	// .order__progress-current
	&__progress-current {
	}
	// .order__progress-total
	&__progress-total {
	}
	// .order__caption
	&__caption {
		font-size: 1.5rem;
		line-height: 120%;
	}
	// .order__steps
	&__steps {
	}
	// .order__step
	&__step {
		display: none;
		&.order__step_active {
			display: block;
		}
	}
	&__rows {
		margin-top: 2.5rem;
	}
	// .order__row
	&__row {
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	// .order__label
	&__label {
		font-size: 1.125rem;
		line-height: 145%;
		margin-bottom: 0.75rem;
	}
	// .order__help
	&__help {
		margin-top: 0.75rem;
		font-size: 0.875rem;
		line-height: 145%;
	}
	// .order__btn
	&__btn {
		margin-top: 1.75rem;
		min-width: 11.25rem;
	}
	// .order__options
	&__options {
	}
	// .order__option
	&__option {
		display: none;
		&.order__option_active {
			display: block;
		}
	}
	// .order__select
	&__select {
		.select-styled {
			padding: 0.625rem;
			border: 0;
			border-radius: 0;
			color: #d8d3bf;
			border-bottom: 1px solid $red;
			&.selected {
				color: $text;
			}
		}
	}
	// .order__footer
	&__footer {
		margin-top: 1.25rem;
	}
	// .order__total
	&__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .order__total-text
	&__total-text {
		font-size: 1.125rem;
		line-height: 145%;
	}
	// .order__total-value
	&__total-value {
		text-align: right;
		font-size: 1.25rem;
		line-height: 120%;
	}
	// .order__products
	&__products {
		margin-left: auto;
		background: $red;
		padding: 1.25rem;
		@media (min-width: $md4) {
			padding: 2rem;
			flex: 0 0 23.625rem;
		}
		@media (min-width: $md2) {
			flex: 0 0 36.25rem;
		}
	}
	// .order__products-caption
	&__products-caption {
		font-size: 1.25rem;
		line-height: 120%;
	}
	// .order__products-list
	&__products-list {
		margin-top: 1.75rem;
		display: grid;
		gap: 0.63rem;
		@media (min-width: $md2) {
			grid-template-columns: 1fr 19rem;
		}
	}
	// .order__item
	&__item {
		border: rem(1) solid rgba(84, 61, 47, 0.1);
		padding: 1rem;
		column-gap: 1rem;
		display: flex;
	}
	// .order__item-thumb
	&__item-thumb {
		width: 3.75rem;
		height: 3.75rem;
		flex-shrink: 0;
	}
	// .order__item-name
	&__item-name {
		font-size: 0.875rem;
		line-height: 145%;
	}
	// .order__products-subtitle
	&__products-subtitle {
		margin-top: 1.25rem;
		display: flex;
		align-items: center;
		column-gap: 1.25rem;
		font-size: 0.875rem;
		line-height: 145%;
		&::before {
			font-size: 1.75rem;
		}
	}
}
