.order {
	padding: em(120) em(0);
	@media (min-width: $md4) {
		padding: em(150) em(0);
	}
	@media (min-width: $md2) {
		padding: em(170) em(0);
	}
	// .order__container
	&__container {
		display: flex;
		flex-direction: column-reverse;
		gap: 3.75rem;
		@media (min-width: $md4) {
			gap: rem(20);
			flex-direction: row;
			align-items: flex-start;
		}
	}
	// .order__form
	&__form {
		max-width: 30rem;
		width: 100%;
	}
	// .order__header
	&__header {
		display: flex;
		column-gap: 0.63rem;
		font-size: rem(14);
		line-height: 145%;
		text-align: center;
		color: rgba($color: #e4e4e4, $alpha: 0.7);
	}
	// .order__progress
	&__progress {
	}
	// .order__progress-current
	&__progress-current {
	}
	// .order__progress-total
	&__progress-total {
	}
	// .order__caption
	&__caption {
		font-size: 1.5rem;
		line-height: 120%;
	}
	// .order__steps
	&__steps {
		max-width: rem(451);
	}
	// .order__step
	&__step {
		position: relative;
		display: none;
		&.order__step_active {
			display: block;
		}
	}
	&__rows {
		margin-top: rem(28);
	}
	// .order__row
	&__row {
		&:not(:last-child) {
			margin-bottom: rem(22);
		}
	}
	// .order__label
	&__label {
		font-size: 1.125rem;
		line-height: 145%;
		margin-bottom: 0.75rem;
	}
	// .order__help
	&__help {
		margin-top: 0.75rem;
		font-size: 0.875rem;
		line-height: 145%;
	}
	// .order__btn
	&__btn {
		width: rem(60);
		height: rem(40);
		margin-top: rem(15);
		@media (min-width: $md2) {
			margin-left: rem(15);
			position: absolute;
			left: 100%;
			bottom: 0;
		}
	}
	&__submit {
		margin-top: 1.5rem;
	}
	// .order__options
	&__options {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
	}
	// .order__option
	&__option {
		display: none;
		&.order__option_active {
			display: block;
		}
	}
	// .order__select
	&__select {
		.select-styled {
			padding: 0.625rem;
			border: 0;
			border-radius: 0;
			color: #d8d3bf;
			border-bottom: 1px solid $red;
			&.selected {
				color: $text;
			}
		}
	}
	// .order__footer
	&__footer {
		margin-top: rem(50);
	}
	// .order__total
	&__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .order__total-text
	&__total-text {
		font-size: 1.125rem;
		line-height: 145%;
	}
	// .order__total-value
	&__total-value {
		text-align: right;
		font-size: 1.25rem;
		line-height: 120%;
	}
	// .order__products
	&__products {
		margin-left: auto;
		border: rem(1) solid #e4e4e4;
		padding: 1.25rem;
		@media (min-width: $md4) {
			padding: 2rem;
			flex: 0 0 23.625rem;
		}
		@media (min-width: $md2) {
			flex: 0 0 rem(524);
		}
	}
	// .order__products-caption
	&__products-caption {
		font-size: 1.25rem;
		line-height: 120%;
	}
	// .order__products-list
	&__products-list {
		margin-top: 1.75rem;
		display: grid;
		gap: 0.63rem;
	}
	// .order__item
	&__item {
		column-gap: 1rem;
		display: flex;
	}
	&__item-cert {
		max-width: rem(223);
		border-radius: rem(5);
		overflow: hidden;
		height: 100%;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("@img/logo-white.svg") center calc(100% - rem(40)) / rem(97) auto no-repeat;
		}
		& img {
			border-radius: rem(5);
		}
	}
	// .order__item-thumb
	&__item-thumb {
		width: 3.75rem;
		height: 3.75rem;
		flex-shrink: 0;
	}
	// .order__item-name
	&__item-name {
		font-size: 0.875rem;
		line-height: 145%;
	}
	// .order__products-subtitle
	&__products-subtitle {
		margin-top: 1.25rem;
		font-size: 1rem;
		line-height: 120%;
	}
	// .order__policy
	&__policy {
		margin-top: 2rem;
		font-size: 0.75rem;
		& a {
			text-decoration: underline;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
