.salons {
	padding: 7.5rem 0 0 0;
	@media (min-width: $md4) {
		padding: 9.3rem 0 0 0;
	}
	@media (min-width: $md2) {
		padding: 10.5rem 0 0 0;
	}
	// .salons__container
	&__container {
	}
	// .salons__title
	&__title {
		margin-top: 1.2rem;
		@media (min-width: $md2) {
			margin-top: 1.75rem;
		}
	}
	// .salons__subtitle
	&__subtitle {
		margin: 1.25rem 0 0 0;
		text-align: center;
		font-size: 1.125rem;
		line-height: 145%;
	}
	// .salons__list
	&__list {
		margin-top: 3.56rem;
		@media (min-width: $md4) {
			margin-top: 3.75rem;
		}
	}
	// .salons__item
	&__item {
		padding: 1.25rem 0 0 0;

		&:not(:last-child) {
			margin-bottom: 7.5rem;
			@media (min-width: $md2) {
				margin-bottom: 8.75rem;
			}
		}
	}
	// .salons__item-image
	&__item-image {
		overflow: hidden;
		height: 25rem;
		@media (min-width: $md4) {
			height: 31.25rem;
		}
	}
	// .salons__item-price
	&__item-price {
		margin-top: 2.5rem;
		border-radius: 6.25rem;
		border: rem(1) solid rgba(84, 61, 47, 0.1);
		padding: 0.45rem 1rem;
		font-size: 0.875rem;
		line-height: 145%;
		display: inline-block;
	}
	// .salons__item-info
	&__item-info {
		display: flex;
		flex-direction: column;
		margin-top: 1rem;
		gap: 1.5rem;
		@media (min-width: $md4) {
			margin-top: 1.25rem;
			flex-direction: row;
		}
	}
	// .salons__item-caption
	&__item-caption {
		line-height: 120%;
		font-size: 1.375rem;
		@media (min-width: $md4) {
			font-size: 1.5rem;
		}
	}
	// .salons__item-desc
	&__item-desc {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (min-width: $md4) {
			margin-left: auto;
			flex: 0 0 50%;
		}
		@media (min-width: $md3) {
			flex: 0 0 36.25rem;
		}
	}
	&__item-text {
		text-align: justify;
		font-size: 1.125rem;
		line-height: 145%;
	}
	&__item-link {
		margin-top: 2.5rem;
		font-size: 0.875rem;
		line-height: 120%;
		display: flex;
		align-items: center;
		column-gap: 0.31rem;
		transition: border-color 0.3s ease 0s;
		border-bottom: rem(1) solid transparent;
		&::before {
			order: 1;
			@extend %ic, .icon-arrow-right;
			// transition: transform 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				border-color: currentColor;
				// &::before {
				// 	transform: translateX(rem(10));
				// }
			}
		}
	}
	// .salons__map
	&__map {
	}
}
