.salons {
	padding: rem(5) 0 rem(40);
	@media (min-width: $md6) {
		padding: rem(5) 1rem rem(40);
	}
	@media (min-width: $md4) {
		padding: rem(65) 0 rem(100) 0;
	}
	// .salons__container
	&__container {
	}
	// .salons__list
	&__list {
	}
	// .salons__item
	&__item {
		display: flex;
		flex-direction: column;
		gap: 1.37rem;
		@media (min-width: $md3) {
			gap: 2rem;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			&:nth-child(odd) {
				.salons__item-slider {
					order: 1;
				}
				.salons__item-btn {
					margin-right: auto;
					margin-left: 0;
				}
			}
		}
		&:first-child {
			@media (min-width: $md3) {
				align-items: flex-end;
			}
		}
		&:not(:last-child) {
			margin-bottom: 2.94rem;
			@media (min-width: $md4) {
				margin-bottom: rem(100);
			}
		}
	}
	// .salons__item-image
	&__item-slider {
		min-width: 0;
		margin: 0;
		max-width: 100%;
		position: relative;
		@media (min-width: $md3) {
			padding: 0 rem(58);
			flex: 0 0 28rem;
		}
		@media (min-width: $md2) {
			flex: 0 0 rem(533);
		}
	}
	&__item-slider-pagination {
		&.swiper-pagination {
			position: absolute;
			top: auto;
			margin: 0;
			bottom: 0.5rem;
			@media (min-width: $md4) {
				bottom: 1.27rem;
			}
		}
	}
	// .salons__item-prev
	&__item-prev {
		&.swiper-button-prev {
			border-radius: 50%;
			width: rem(25);
			height: rem(25);
			font-size: 1rem;
			@media (min-width: $md6) {
				left: -2rem;
			}
			@media (min-width: $md1) {
				left: 0;
			}
		}
	}
	// .salons__item-next
	&__item-next {
		&.swiper-button-next {
			border-radius: 50%;
			width: rem(25);
			height: rem(25);
			font-size: 1rem;
			@media (min-width: $md6) {
				right: -2rem;
			}
			@media (min-width: $md1) {
				right: 0;
			}
		}
	}
	&__item-slide {
		width: 100%;
		overflow: hidden;
		border-radius: 0.3125rem;
		height: 16rem;
		@media (min-width: $md5) {
			height: 24rem;
		}
		@media (min-width: $md4) {
			height: rem(465);
		}
		@media (min-width: $md2) {
			height: rem(565);
		}
	}
	// .salons__item-price
	&__item-price {
	}
	// .salons__item-info
	&__item-info {
		display: flex;
		flex-direction: column;
		gap: 0.81rem;
		max-width: 37.5625rem;
	}
	// .salons__item-caption
	&__item-caption {
		font-weight: 700;
		line-height: 110%;
		@media (min-width: $md4) {
			line-height: 145%;
			font-size: 1.25rem;
		}
	}
	// .salons__item-desc
	&__item-desc {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (min-width: $md4) {
			margin-left: auto;
		}
	}
	// .salons__item-text
	&__item-text {
		line-height: 120%;
		display: flex;
		flex-direction: column;
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 0.875rem;
		}
		@media (min-width: $md2) {
			font-size: 1rem;
		}
		& p {
			&:not(:first-child) {
				margin-top: 1.25rem;
			}
		}
		& ul {
			list-style: disc;
			padding-left: 1em;
			& li {
				&::marker {
					font-size: 0.5em;
				}
			}
		}
	}
	// .salons__item-btns
	&__item-btns {
		margin-top: rem(40);
		display: flex;
		gap: rem(12);
		.salons__item-btn {
			margin-top: 0;
		}
	}
	// .salons__item-btn
	&__item-btn {
		margin-top: rem(40);
		margin-left: auto;
		&.btn.btn-lg {
			padding: rem(5) rem(20);
			min-height: rem(31);
		}
	}
	&__item-link {
		margin-top: 2.5rem;
		font-size: 0.875rem;
		line-height: 120%;
		display: flex;
		align-items: center;
		column-gap: 0.31rem;
		transition: border-color 0.3s ease 0s;
		border-bottom: rem(1) solid transparent;
		&::before {
			order: 1;
			@extend %ic, .icon-next;
			// transition: transform 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				border-color: currentColor;
				// &::before {
				// 	transform: translateX(rem(10));
				// }
			}
		}
	}
	// .salons__map
	&__map {
	}
}
