@font-face {
  font-family: 'icons';
  src: url('fonts/icons.eot?k4rdeu');
  src: url('fonts/icons.eot?k4rdeu#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?k4rdeu') format('truetype'),
    url('fonts/icons.woff?k4rdeu') format('woff'),
    url('fonts/icons.svg?k4rdeu#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter:before {
  content: "\e90b";
}

.icon-arrows:before {
  content: "\e90a";
}

.icon-triangle:before {
  content: "\e909";
}

.icon-location:before {
  content: "\e908";
}

.icon-whatsapp:before {
  content: "\e907";
}

.icon-cart:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\e901";
}

.icon-instagram:before {
  content: "\e902";
}

.icon-next:before {
  content: "\e903";
}

.icon-plus:before {
  content: "\e904";
}

.icon-prev:before {
  content: "\e905";
}

.icon-telegram:before {
  content: "\e906";
}