<div class="product-card product-card--appartament" data-animate="card">
    <a href="place.html" class="product-card__image">
        <img src="@img/apartaments-photo.png" class="cover-image" alt="Фото товара">
    </a>
    <div class="product-card__info">
        <a href="place.html" class="product-card__name text-medium text-uppercase">Апартаменты Смоленская</a>
        <p class="product-card__desc">Уютные апартаменты спа-салона оформлены в расслабляющем стиле с современными удобствами, создавая идеальную атмосферу для отдыха и восстановления.</p>
        <div class="product-card__stats">
            <div class="product-card__stat">
                <div class="product-card__stat-icon">
                    <img src="@img/icons/clock.svg" alt="Иконка">
                </div>
                <div class="product-card__stat-value">2 часа</div>
            </div>
            <div class="product-card__stat">
                <div class="product-card__stat-icon">
                    <img src="@img/icons/rubble.svg" alt="Иконка">
                </div>
                <div class="product-card__stat-value">22 000 -28 000 ₽</div>
            </div>
        </div>
    </div>
    <div class="product-card__footer">
        <a href="place.html" class="product-card__btn btn btn-primary btn-lg">Забронировать</a>
        <a href="" class="product-card__whatsapp icon-whatsapp-outline"></a>
    </div>
</div>