<div class="product-card">
    <a href="place.html" class="product-card__image">
        <img src="@img/apartaments-photo.png" class="cover-image" alt="Фото товара">
    </a>
    <div class="product-card__info">
        <a href="place.html" class="product-card__name text-medium text-uppercase">Апартаменты Смоленская</a>
        <div class="product-card__stats">
            <div class="product-card__stat">
                <div class="product-card__stat-icon">
                    <img src="@img/icons/people.svg" alt="Иконка">
                </div>
                <div class="product-card__stat-value">4 чел</div>
            </div>
            <div class="product-card__stat">
                <div class="product-card__stat-icon">
                    <img src="@img/icons/square.svg" alt="Иконка">
                </div>
                <div class="product-card__stat-value">30 кв.м</div>
            </div>
            <div class="product-card__stat">
                <div class="product-card__stat-icon">
                    <img src="@img/icons/coctail.svg" alt="Иконка">
                </div>
                <div class="product-card__stat-value">Бар, кухня</div>
            </div>
        </div>
        <p class="product-card__desc">Уютные апартаменты спа-салона оформлены в расслабляющем стиле с современными удобствами, создавая идеальную атмосферу для отдыха и восстановления.</p>
    </div>
    <div class="product-card__footer">
        <a href="place.html" class="product-card__btn btn btn-white btn-lg">Подробнее</a>
        <a href="" class="product-card__whatsapp icon-whatsapp-outline"></a>
    </div>
</div>