<div class="product-card product-card--appartament" data-animate="card">
    <a href="place.html" class="product-card__image">
        <img src="@img/apartaments-photo.png" class="cover-image" alt="Индивидуальное пространство на Маяковской">
        <span class="product-card__name">Индивидуальное пространство на Маяковской</span>
    </a>
    <div class="product-card__footer">
        <a href="place.html" class="product-card__btn btn btn-lg">Забронировать</a>
        <a href="place.html" class="product-card__link btn btn-lg icon-long-arrow" aria-label="Подробнее"></a>
    </div>
</div>
