<li class="news__item@@if(typeof className !=='undefined'){ @@className}">
    <div class="news__item-header">
        <a href="" class="news__item-image">
            <img src="@@image" class="cover-image" alt="Постер">
        </a>
        <div class="news__item-bottom">
            <time datetime="@@datetime" class="news__item-time">@@time</time>
            <h3 class="news__item-title">@@title</h3>
        </div>
    </div>
    <a href="" class="news__item-btn btn btn-white-outline btn-lg">Подробнее</a>
</li>