@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant.woff2") format("woff2 supports variations"), url("../fonts/Cormorant.woff2") format("woff2-variations"), url("../fonts/Cormorant.woff") format("woff");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree.woff2") format("woff2 supports variations"), url("../fonts/Figtree.woff2") format("woff2-variations"), url("../fonts/Figtree.woff") format("woff");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.woff2") format("woff2 supports variations"), url("../fonts/Inter.woff2") format("woff2-variations"), url("../fonts/Inter.woff") format("woff");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2 supports variations"), url("../fonts/icons.woff2") format("woff2-variations"), url("../fonts/icons.woff") format("woff");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost.woff2") format("woff2 supports variations"), url("../fonts/Jost.woff2") format("woff2-variations"), url("../fonts/Jost.woff") format("woff");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}
.swiper-button-next::before,
.swiper-button-prev::before, [class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-cart:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\e901";
}

.icon-instagram:before {
  content: "\e902";
}

.icon-next:before, .swiper-button-next:before {
  content: "\e903";
}

.icon-plus:before {
  content: "\e904";
}

.icon-prev:before, .swiper-button-prev:before {
  content: "\e905";
}

.icon-telegram:before {
  content: "\e906";
}

:root {
  --lock-padding: 0px;
  --swiper-pagination-top: 100%;
  --swiper-pagination-bottom: auto;
  --swiper-pagination-color: #e4e4e4;
  --swiper-pagination-bullet-inactive-color: #e4e4e4;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-inactive-opacity: 0.8;
  --swiper-pagination-bullet-size: 0.6875rem;
  --swiper-navigation-size: 2.5rem;
  --swiper-pagination-bullet-horizontal-gap: 0.1875rem;
  --swiper-wrapper-transition-timing-function: linear;
}

body {
  font-family: "Jost", sans-serif;
  color: #e4e4e4;
  background: #151515;
  min-height: 100%;
  line-height: normal;
  min-width: 320px;
}
body.lock, body.lock-cart {
  overflow: hidden;
}
body.lock-filter {
  overflow: hidden;
}
@media (min-width: 1199.98px) {
  body.lock-filter {
    overflow: visible;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: clip;
  padding-right: var(--lock-padding, 0);
}

.container {
  margin: 0 auto;
  box-sizing: content-box;
  max-width: 100%;
  padding: 0 1.38rem;
  max-width: 71rem;
}
.container.container-lg {
  max-width: 80rem;
}

.caption {
  font-size: 0.875rem;
  line-height: 145%;
  text-transform: uppercase;
}

.title {
  font-family: "Figtree", "Inter", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.28rem;
  text-transform: uppercase;
}

.title-lg {
  font-family: "Figtree", "Inter", sans-serif;
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section-header__title {
  width: 65%;
  margin-left: auto;
  text-align: right;
}

.text-medium {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 110%;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.color-grey {
  color: rgba(228, 228, 228, 0.8);
}

.swiper {
  min-width: 0;
  max-width: 100%;
}

.swiper-pagination {
  margin-top: 0.75rem;
  position: static;
}
.swiper-pagination .swiper-pagination-bullet {
  background: #e4e4e4;
}

.swiper-button-next,
.swiper-button-prev {
  background: #720806;
  color: #fff;
  font-size: 1.5rem;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  display: none;
}
.swiper-button-next:disabled, .swiper-button-next[aria-disabled=true],
.swiper-button-prev:disabled,
.swiper-button-prev[aria-disabled=true] {
  opacity: 0;
  visibility: hidden;
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #720806;
  border-radius: 0.5rem;
}
@media (any-hover: hover) {
  ::-webkit-scrollbar-thumb:hover {
    background: #420503;
  }
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__field:not(:last-child) {
  margin-bottom: 1.31rem;
}
.form__label {
  color: #9e3522;
  padding: 0 0.25rem;
  font-size: 0.875rem;
  line-height: 145%;
  margin-bottom: 0.5rem;
}
.form__input {
  transition: color 0.3s ease 0s;
  width: 100%;
  resize: none;
  display: block;
  background: transparent;
  padding: 0.53rem 1.5rem;
  border-radius: 6.25rem;
  color: #543d2f;
  border: 1px solid rgba(84, 61, 47, 0.5);
  font-size: 0.875rem;
  line-height: 145%;
}
.form__input::placeholder {
  color: inherit;
  opacity: 0.5;
}
.form__textarea {
  transition: color 0.3s ease 0s;
  width: 100%;
  height: 13.625rem;
  resize: none;
  display: block;
  background: transparent;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 145%;
  padding: 0.53rem 1.5rem;
  border-radius: 1.875rem;
  color: #543d2f;
  border: 1px solid rgba(84, 61, 47, 0.5);
}
.form__textarea::placeholder {
  color: inherit;
  opacity: 0.5;
}
.form__btn {
  margin-top: 0.75rem;
  align-self: center;
}
.form__privacy {
  max-width: 22.5rem;
  margin: 4.63rem auto 0;
  text-align: center;
  font-size: 1rem;
}
.form__privacy a {
  color: #1aedfa;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .form__privacy a:hover {
    color: #05d0dc;
  }
}

.input {
  transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
  width: 100%;
  background: transparent;
  color: #d8d3bf;
  font-size: 0.875rem;
  line-height: 145%;
  padding: 0.625rem;
  border-radius: 0;
  border-bottom: 1px solid #720806;
  color: #e4e4e4;
}
.input::placeholder {
  color: #d8d3bf;
  opacity: 1;
}
@media (any-hover: hover) {
  .input:hover {
    border-color: #d8d3bf;
  }
}
.input:focus {
  border-color: #e4e4e4;
}

.textarea {
  transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
  width: 100%;
  resize: none;
  height: 5rem;
  background: transparent;
  color: #d8d3bf;
  font-size: 0.875rem;
  line-height: 145%;
  padding: 0.625rem;
  border-radius: 0;
  border-bottom: 1px solid #720806;
  color: #e4e4e4;
}
.textarea::placeholder {
  color: #d8d3bf;
  opacity: 1;
}
@media (any-hover: hover) {
  .textarea:hover {
    border-color: #d8d3bf;
  }
}
.textarea:focus {
  border-color: #e4e4e4;
}

.btn {
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: background-color 0.3s ease 0s;
  user-select: none;
  white-space: nowrap;
  color: #e4e4e4;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.1875rem 0.625rem;
  border-radius: 6.25rem;
}
.btn::before {
  order: 1;
}
.btn.btn-primary {
  background: #720806;
  color: rgba(228, 228, 228, 0.8);
}
.btn.btn-secondary {
  background: rgba(228, 228, 228, 0.8);
  color: #151515;
}
.btn.btn-white, .header.header--open-menu .btn.header__buy {
  background: #e4e4e4;
  color: #151515;
}
.btn.btn-white-outline {
  border: 0.0625rem solid #e4e4e4;
  color: #e4e4e4;
}
.btn.btn-white-outline:hover {
  background: rgba(228, 228, 228, 0.8);
  color: #151515;
}
.btn.btn-white-outline:active, .btn.btn-white-outline.active {
  background: #e4e4e4;
  color: #151515;
}
.btn.btn-lg {
  min-height: 2.5rem;
  font-size: 0.875rem;
  padding: 0.5rem 1.5625rem;
}
.btn:disabled, .btn[aria-disabled=true] {
  cursor: default;
  color: #fff;
  background: #dfe0e1;
  pointer-events: none;
}

.checkbox {
  display: block;
}
.checkbox.checkbox_red .checkbox__text::before {
  border-radius: 0.25rem;
}
.checkbox.checkbox_red .checkbox__input:checked + .checkbox__text::before {
  background: #720806;
}
.checkbox__input:checked + .checkbox__text::before {
  background: #d8d3bf;
}
.checkbox__text {
  display: flex;
  align-items: center;
  column-gap: 0.62rem;
  color: #543d2f;
  font-size: 0.875rem;
  line-height: 120%;
  cursor: pointer;
  user-select: none;
}
.checkbox__text::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  align-self: flex-start;
  border-radius: 50%;
  border: 0.0625rem solid #eceae0;
}

.header {
  padding-top: 3.75rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
}
.header.header--open-menu .header__menu,
.header.header--open-menu .header__callback {
  display: none;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.44rem;
  min-height: 3.25rem;
}
.header__menu {
  border-radius: 6.25rem;
  border: 1px solid rgba(228, 228, 228, 0.8);
  background: rgba(228, 228, 228, 0.8);
  color: #151515;
}
.header__menu-list {
  display: flex;
}
.header__menu-link {
  border-radius: 6.25rem;
  font-size: 1rem;
  line-height: 120%;
  padding: 0.9375rem 1.1875rem;
  display: inline-block;
  transition: color 0.3s ease, background-color 0.3s ease;
}
@media (any-hover: hover) {
  .header__menu-link:hover {
    background: #151515;
    color: rgba(228, 228, 228, 0.8);
  }
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__phone {
  color: rgba(228, 228, 228, 0.8);
  font-size: 0.75rem;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .header__phone:hover {
    color: #e4e4e4;
  }
}
.header__buy {
  padding-inline: 1.5625rem;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #720806;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  padding-block: var(--header-height, 7rem);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.menu .container {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.menu.menu--open {
  opacity: 1;
  visibility: visible;
}
.menu::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height, 7rem);
  background: #720806;
}
.menu__logo {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 2.5rem;
  width: 6.875rem;
}
.menu__logo img {
  width: 100%;
}
.menu__body {
  display: flex;
  align-items: center;
  padding-block: 4rem;
  flex: 1 1 auto;
}
.menu__navigation {
  flex: 1;
}
.menu__navigation-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 83.333%;
}
@media (any-hover: hover) {
  .menu__navigation-link:hover {
    text-decoration: underline;
  }
}
.menu__side {
  align-self: stretch;
  width: 50%;
  border-left: 0.0625rem solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.25rem;
}
.menu__services-list {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 83.333%;
  display: flex;
  flex-direction: column;
  gap: 2.31rem;
}
@media (any-hover: hover) {
  .menu__services-link:hover {
    text-decoration: underline;
  }
}
.menu__socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.37rem;
}
.menu__social {
  font-size: 1.5rem;
  line-height: 1.25rem;
  text-decoration-line: underline;
}
@media (any-hover: hover) {
  .menu__social:hover {
    text-decoration: none;
  }
}

.icon-menu {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  color: #e4e4e4;
  z-index: 11;
  transition: all 0.3s ease;
}
.icon-menu span {
  display: block;
  padding: 0.125rem;
  align-self: stretch;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
  will-change: transform;
}
.icon-menu span::before {
  content: "";
  display: block;
  height: 0.125rem;
  background: currentColor;
  transition: transform 0.3s ease 0s;
  will-change: transform;
}
.icon-menu span:nth-child(2) {
  width: 75%;
  margin-left: auto;
}
.header.header--open-menu .icon-menu {
  color: #e4e4e4;
  background: transparent;
}
.header.header--open-menu .icon-menu span {
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
}
.header.header--open-menu .icon-menu span::before {
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
}
.header.header--open-menu .icon-menu span:first-child {
  transform: translateY(0.375rem);
}
.header.header--open-menu .icon-menu span:first-child::before {
  transform: rotate(-135deg);
}
.header.header--open-menu .icon-menu span:nth-child(2) {
  opacity: 0;
}
.header.header--open-menu .icon-menu span:nth-child(3) {
  transform: translateY(-0.375rem);
  width: 100%;
}
.header.header--open-menu .icon-menu span:nth-child(3)::before {
  transform: rotate(-225deg);
}

.footer {
  padding: 6.25rem 0;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer__column-body {
  margin-top: 2.5rem;
  line-height: 1.2;
}
.footer__column-body a {
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .footer__column-body a:hover {
    color: #720806;
  }
}
.footer__column-socials {
  margin-top: 1.5625rem;
}
.footer__menu {
  margin-top: 3.125rem;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  align-items: flex-start;
}
.footer__menu-policy {
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .footer__menu-policy:hover {
    color: #720806;
  }
}
.footer__menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.footer__menu-link {
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .footer__menu-link:hover {
    color: #720806;
  }
}
.footer__banner {
  margin-top: 3.75rem;
}
.footer__logo {
  width: 8.75rem;
  margin-top: 3.875rem;
  margin-inline: auto;
}
.footer__logo img {
  width: 100%;
}

.socials {
  display: flex;
  gap: 1rem;
}
.socials__link {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .socials__link:hover {
    color: #720806;
  }
}

.page {
  flex: 1 1 auto;
}
.hero {
  height: 100vh;
  height: 65.9375rem;
  background: url("../img/hero.jpg") center 0/cover no-repeat;
  color: rgba(228, 228, 228, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero__year {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 110%;
}
.hero__subtitle {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 110%;
  max-width: 16.5625rem;
  margin-inline: auto;
}

.about {
  background: url("../img/about.jpg") 0 0/cover no-repeat;
}

.description {
  padding: 3.75rem 0;
  background: linear-gradient(180deg, rgba(180, 2, 0, 0.63) 0%, rgba(36, 1, 1, 0.63) 100%);
}
.description__caption {
  color: rgba(84, 61, 47, 0.4);
  font-size: 0.875rem;
  line-height: 145%;
}
.description__title {
  margin-top: 0.94rem;
  max-width: 35.5rem;
}
.description__text {
  margin-top: 1.13rem;
  display: flex;
  line-height: 120%;
  gap: 2.06rem;
}
.description__text p {
  max-width: 19.6875rem;
}
.description__text p:nth-child(even) {
  max-width: 16rem;
}
.description__services {
  margin-top: 2.5rem;
}
@media (min-width: 1199.98px) {
  .description__services {
    margin-top: 3.75rem;
  }
}

.services__list {
  display: grid;
  gap: 1.25rem;
}
@media (min-width: 575.98px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1023.98px) {
  .services__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.services__card {
  position: relative;
  background: #720806;
  aspect-ratio: 1.2146118721;
  display: flex;
  overflow: hidden;
  border-radius: 0.3125rem;
}
.services__card-link::before {
  position: absolute;
  top: 0.875rem;
  right: 1rem;
  font-size: 2.625rem;
}
.services__card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.875rem 1.625rem;
}

.banner {
  padding: 7rem 0;
  min-height: 33.9375rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner__title {
  max-width: 60rem;
  margin-inline: auto;
}

.locations {
  padding: 4rem 0 0;
}
.locations__header {
  display: flex;
  align-items: center;
}
.locations__title {
  flex: 0 0 30rem;
  text-align: right;
  line-height: 0.95;
}
.locations__list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1.875rem;
}
.locations__item {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.locations__item::before {
  content: "";
  height: 0.0625rem;
  width: 9.5rem;
  margin: 0 auto;
  background: #e4e4e4;
}
.locations__link {
  transition: color 0.3s ease;
  width: fit-content;
}
@media (any-hover: hover) {
  .locations__link:hover {
    color: #720806;
  }
}
.locations__video {
  margin-top: 3.125rem;
}

.brands {
  padding: 3.75rem 0;
}
.brands__title {
  font-size: 0.875rem;
  line-height: 145%;
}
.brands__list {
  margin-top: 0.44rem;
  gap: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 575.98px) {
  .brands__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 1199.98px) {
  .brands__list {
    padding: 0 3.26rem 0 2.26rem;
  }
}
.brands__item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}
.brands__item img {
  max-height: 11.375rem;
  width: auto;
}

.capabilities {
  padding: 6.25rem 0 3.125rem;
}
.capabilities__list {
  margin-top: 1.75rem;
  display: grid;
  align-items: start;
  gap: 0.9375rem;
  grid-template-columns: repeat(4, 1fr);
  margin-right: -2rem;
}
.capabilities__item {
  border-radius: 0.3125rem;
  border: 0.0625rem solid #e4e4e4;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
}
.capabilities__item:nth-child(4n+2) {
  margin-top: 3.8rem;
}
.capabilities__item:nth-child(4n+3) {
  margin-top: -2.5rem;
}
.capabilities__item:nth-child(4n+4) {
  margin-top: 8.6rem;
}
.capabilities__item-image {
  border-radius: 0.3125rem;
  aspect-ratio: 1;
  overflow: hidden;
}
.capabilities__item-title {
  margin-top: 1.125rem;
  margin-right: -0.25rem;
}
.capabilities__item-desc {
  margin-top: 0.5rem;
  opacity: 0.5;
  font-size: 1rem;
  line-height: 120%;
}
.capabilities__footer {
  margin-top: -1.5rem;
}
.capabilities__desc {
  display: flex;
  padding-right: 25%;
}
.capabilities__desc p {
  line-height: 1.2;
  max-width: 26.3125rem;
}

.brands {
  padding: 3.125rem 0 6.25rem;
}
.brands__slider {
  margin-top: 2.5rem;
}
.brands__slide {
  align-self: center;
  width: fit-content;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands__slide img {
  width: auto;
  max-height: 100%;
}

.video {
  padding: 0 1.875rem 3.75rem;
}
.certs {
  padding: 3.75rem 0;
}
.certs__tabs {
  margin-top: 0.75rem;
}
.certs__tabs-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.certs__tabs-content {
  margin-top: 1.875rem;
}
.certs__block {
  display: flex;
  align-items: flex-start;
  gap: 3.4375rem;
}
.certs__slider {
  position: relative;
  flex: 0 0 22.9375rem;
}
.certs__slide {
  border-radius: 0.3125rem;
  overflow: hidden;
  height: 100%;
  position: relative;
}
.certs__slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/logo-white.svg") center 80%/6.0625rem auto no-repeat;
}
.certs__block-body {
  flex: 1 1 auto;
  padding-top: 0.5rem;
}
.certs__items {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(10.1875rem, 1fr));
}
.certs__item {
  padding: 0.5rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #e4e4e4;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}
@media (any-hover: hover) {
  .certs__item:hover {
    background: #e4e4e4;
    color: #151515;
  }
}
.certs__block-footer {
  margin-top: 2.75rem;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.certs__btn {
  min-width: 12.5rem;
}

.news {
  padding: 3.75rem 0 6.25rem;
  position: relative;
}
.news__slider {
  margin-top: 1.625rem;
  overflow: visible;
}
.news__slider-prev {
  --swiper-navigation-sides-offset: 2rem;
}
.news__slider-next {
  --swiper-navigation-sides-offset: 2rem;
}
.news__item.swiper-slide {
  width: 19rem;
}
.news__item-header {
  overflow: hidden;
  position: relative;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
}
.news__item-header + .news__item-btn {
  margin-top: 1.5rem;
}
@media (min-width: 575.98px) {
  .news__item-header {
    aspect-ratio: 0.7342995169;
  }
}
@media (any-hover: hover) {
  .news__item-header:hover .news__item-image img {
    transform: scale(1.1);
  }
}
.news__item-image img {
  transition: transform 0.3s ease;
}
.news__item-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 0rem 0.375rem 1.25rem 1rem;
}
.news__item-time {
  font-family: "Cormorant";
  font-size: 1.25rem;
  line-height: 110%;
  letter-spacing: -0.025rem;
}
.news__item-title {
  margin-top: 0.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.025rem;
  min-height: 4.25rem;
}
.news__item-btn {
  margin-top: 0.5rem;
  min-width: 12.25rem;
}