@font-face {
                            font-family: 'Cormorant';
                            src: url("../fonts/Cormorant.woff2") format("woff2 supports variations"),
                                 url("../fonts/Cormorant.woff2") format("woff2-variations"),
                                 url("../fonts/Cormorant.woff") format("woff");
                            font-weight: 100 900;
                            font-stretch: 75% 125%;
                            font-style: normal;
                            font-display: swap;
                        }
@font-face {
                            font-family: 'Figtree';
                            src: url("../fonts/Figtree.woff2") format("woff2 supports variations"),
                                 url("../fonts/Figtree.woff2") format("woff2-variations"),
                                 url("../fonts/Figtree.woff") format("woff");
                            font-weight: 100 900;
                            font-stretch: 75% 125%;
                            font-style: normal;
                            font-display: swap;
                        }
@font-face {
                            font-family: 'Inter';
                            src: url("../fonts/Inter.woff2") format("woff2 supports variations"),
                                 url("../fonts/Inter.woff2") format("woff2-variations"),
                                 url("../fonts/Inter.woff") format("woff");
                            font-weight: 100 900;
                            font-stretch: 75% 125%;
                            font-style: normal;
                            font-display: swap;
                        }
@font-face {
                            font-family: 'icons';
                            src: url("../fonts/icons.woff2") format("woff2 supports variations"),
                                 url("../fonts/icons.woff2") format("woff2-variations"),
                                 url("../fonts/icons.woff") format("woff");
                            font-weight: 100 900;
                            font-stretch: 75% 125%;
                            font-style: normal;
                            font-display: swap;
                        }
@font-face {
                            font-family: 'Jost';
                            src: url("../fonts/Jost.woff2") format("woff2 supports variations"),
                                 url("../fonts/Jost.woff2") format("woff2-variations"),
                                 url("../fonts/Jost.woff") format("woff");
                            font-weight: 100 900;
                            font-stretch: 75% 125%;
                            font-style: normal;
                            font-display: swap;
                        }
