.footer {
	padding: rem(100) 0;
	// .footer__top
	&__top {
		display: flex;
		justify-content: space-between;
		text-align: center;
	}
	// .footer__column
	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	// .footer__caption
	&__caption {
	}
	// .footer__column-body
	&__column-body {
		margin-top: rem(40);
		line-height: 1.2;
		& a {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: $red;
				}
			}
		}
	}
	// .footer__column-body
	&__column-socials {
		margin-top: rem(25);
	}
	// .footer__menu
	&__menu {
		margin-top: rem(50);
		display: flex;
		justify-content: space-between;
		gap: 2.5rem;
		align-items: flex-start;
	}
	// .footer__menu-policy
	&__menu-policy {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .footer__menu-list
	&__menu-list {
		display: flex;
		flex-wrap: wrap;
		gap: 2.5rem;
	}
	// .footer__menue-item
	&__menue-item {
	}
	// .footer__menu-link
	&__menu-link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .footer__banner
	&__banner {
		margin-top: rem(60);
	}
	// .footer__logo
	&__logo {
		width: rem(140);
		margin-top: rem(62);
		margin-inline: auto;
		& img {
			width: 100%;
		}
	}
}

.socials {
	display: flex;
	gap: 1rem;
	// .socials__link
	&__link {
		width: 1.25rem;
		height: 1.25rem;
		font-size: 1.25rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
}
