.form {
	// .form__field
	&__field {
		&:not(:last-child) {
			margin-bottom: 1.31rem;
		}
	}
	// .form__label
	&__label {
		color: #9e3522;
		padding: 0 0.25rem;
		font-size: 0.875rem;
		line-height: 145%;
		margin-bottom: 0.5rem;
	}
	// .form__input
	&__input {
		transition: color 0.3s ease 0s;
		width: 100%;
		resize: none;
		display: block;
		background: transparent;
		padding: 0.53rem 1.5rem;
		border-radius: 6.25rem;
		color: rgba(84, 61, 47, 1);
		border: 1px solid rgba(84, 61, 47, 0.5);

		font-size: 0.875rem;
		line-height: 145%;
		&::placeholder {
			color: inherit;
			opacity: 0.5;
		}
	}
	// .form__textarea
	&__textarea {
		transition: color 0.3s ease 0s;
		width: 100%;
		height: 13.625rem;
		resize: none;
		display: block;
		background: transparent;
		border-radius: 0.5rem;
		font-size: 0.875rem;
		line-height: 145%;
		padding: 0.53rem 1.5rem;
		border-radius: 1.875rem;
		color: rgba(84, 61, 47, 1);
		border: 1px solid rgba(84, 61, 47, 0.5);
		&::placeholder {
			color: inherit;
			opacity: 0.5;
		}
	}
	// .form__btn
	&__btn {
		margin-top: 0.75rem;
		align-self: center;
	}
	// .form__privacy
	&__privacy {
		max-width: 22.5rem;
		margin: 4.63rem auto 0;
		text-align: center;
		font-size: 1rem;
		& a {
			color: #1aedfa;
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: darken($color: #1aedfa, $amount: 10);
				}
			}
		}
	}
}

.input {
	transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
	width: 100%;
	background: transparent;
	color: #d8d3bf;
	font-size: 0.875rem;
	line-height: 145%;
	padding: 0.625rem;
	border-radius: 0;
	border-bottom: 1px solid $red;
	color: $text;
	&::placeholder {
		color: #d8d3bf;
		opacity: 1;
	}
	@media (any-hover: hover) {
		&:hover {
			border-color: #d8d3bf;
		}
	}
	&:focus {
		border-color: $text;
	}
}

.textarea {
	transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
	width: 100%;
	resize: none;
	height: 5rem;
	background: transparent;
	color: #d8d3bf;
	font-size: 0.875rem;
	line-height: 145%;
	padding: 0.625rem;
	border-radius: 0;
	border-bottom: 1px solid $red;
	color: $text;
	&::placeholder {
		color: #d8d3bf;
		opacity: 1;
	}
	@media (any-hover: hover) {
		&:hover {
			border-color: #d8d3bf;
		}
	}
	&:focus {
		border-color: $text;
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	transition: background-color 0.3s ease 0s;
	user-select: none;
	white-space: nowrap;
	color: $text;
	text-align: center;
	font-size: 0.75rem;
	padding: rem(3) rem(10);
	border-radius: 6.25rem;
	&::before {
		order: 1;
	}

	&.btn-primary {
		background: $red;
		color: #e4e4e4;
		@media (any-hover: hover) {
			&:hover {
				background: darken($color: $red, $amount: 10);
			}
		}
		&:active,
		&.active {
			background: darken($color: $red, $amount: 10);
		}
	}
	&.btn-primary-outline {
		border: rem(3) solid $red;
		color: #e4e4e4;
		@media (any-hover: hover) {
			&:hover {
				background: $red;
				color: #fff;
			}
		}
		&:active,
		&.active {
			background: $red;
		}
	}
	&.btn-secondary {
		background: rgba(228, 228, 228, 0.8);
		color: $black;
	}
	&.btn-white {
		border: rem(1) solid rgba(228, 228, 228, 1);
		background: rgba(228, 228, 228, 1);
		color: $black;
		@media (any-hover: hover) {
			&:hover {
				background: $black;
				color: rgba(228, 228, 228, 1);
			}
		}
		&:active,
		&.active {
			background: $black;
			color: rgba(228, 228, 228, 1);
		}
	}
	&.btn-white-outline {
		border: rem(1) solid rgba(228, 228, 228, 1);
		color: rgba(228, 228, 228, 1);
		@media (any-hover: hover) {
			&:hover {
				background: rgba(228, 228, 228, 0.8);
				color: $black;
			}
		}
		&:active,
		&.active {
			background: rgba(228, 228, 228, 1);
			color: $black;
		}
	}

	&.btn-lg {
		@media (min-width: $md4) {
			min-height: rem(40);
			font-size: rem(14);
			padding: rem(8) rem(25);
		}
	}

	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		color: #fff;
		background: #dfe0e1;
		pointer-events: none;
	}
}

.checkbox {
	display: block;
	&.checkbox_red {
		& .checkbox__text {
			&::before {
				border-radius: rem(4);
			}
		}
		& .checkbox__input {
			&:checked {
				& + .checkbox__text {
					&::before {
						background: $red;
					}
				}
			}
		}
	}
	// .checkbox__input
	&__input {
		&:checked {
			& + .checkbox__text {
				&::before {
					background: #d8d3bf;
				}
			}
		}
	}
	// .checkbox__text
	&__text {
		display: flex;
		align-items: center;
		column-gap: 0.62rem;
		color: #543d2f;
		font-size: 0.875rem;
		line-height: 120%;
		cursor: pointer;
		user-select: none;
		&::before {
			content: "";
			width: 1.25rem;
			height: 1.25rem;
			align-self: flex-start;
			border-radius: 50%;
			border: rem(1) solid #eceae0;
		}
	}
}
