%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-cart:before {
	content: "\e900";
}
.icon-facebook:before {
	content: "\e901";
}
.icon-instagram:before {
	content: "\e902";
}
.icon-next:before {
	content: "\e903";
}
.icon-plus:before {
	content: "\e904";
}
.icon-prev:before {
	content: "\e905";
}
.icon-telegram:before {
	content: "\e906";
}
