// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================

// &display=swap&subset=cyrillic-ext
@import "fonts";
// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================
@import "icons";

// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Jost";
$font-figtree: "Figtree", "Inter", sans-serif;
$font-cormorant: "Cormorant";

// Шрифт по умолчанию

$md1: 1439.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 374.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1136); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$text: #e4e4e4;
$red: #720806;
$black: #151515;
$grey: #e4e4e4;

// Z-Index
$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

$headerHeight: var(--header-height, rem(112));

:root {
	--lock-padding: 0px;
	--swiper-pagination-top: 100%;
	--swiper-pagination-bottom: auto;
	--swiper-pagination-color: #{$grey};
	--swiper-pagination-bullet-inactive-color: #{$grey};
	--swiper-pagination-bullet-opacity: 1;
	--swiper-pagination-bullet-inactive-opacity: 0.8;
	--swiper-pagination-bullet-size: #{rem(11)};
	--swiper-navigation-size: #{rem(40)};
	--swiper-pagination-bullet-horizontal-gap: #{rem(3)};
}

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ
body {
	font-family: $fontfamily, sans-serif;
	color: $text;
	background: $black;
	min-height: 100%;
	line-height: normal;
	min-width: 320px;
	&.lock,
	&.lock-cart {
		overflow: hidden;
	}
	&.lock-filter {
		overflow: hidden;
		@media (min-width: $md2) {
			overflow: visible;
		}
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;
	padding-right: var(--lock-padding, 0);
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

// Отзывчивая
.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1rem;
	@media (min-width: $md6) {
		padding: 0 2rem;
	}
	@media (min-width: $md5) {
		box-sizing: content-box;
		padding: 0 1rem;
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: $maxWidthContainer;
	}
	&.container-lg {
		@media (min-width: $md1) {
			max-width: rem(1280);
		}
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

//=================Подключаем файлы стилей
//================Общий файл для элементов страницы
@import "ui";
@import "forms";
//================Общий файл для элементов страницы
@import "header";
@import "footer";
//=======================================

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
}
// ========================================================

@import "pages/home";
@import "pages/certs";
@import "pages/news";
@import "pages/deposits";
@import "pages/salons";
@import "pages/contacts";
@import "pages/service";
@import "pages/catalog";
@import "pages/appartaments";
// @import "pages/order";
// @import "pages/info";
// @import "pages/promotion";
// @import "pages/about";
// @import "pages/spa-programms";

.heading {
	padding-top: rem(60);
	padding-bottom: 2rem;
	@media (min-width: $md3) {
		padding-top: rem(122);
	}
	// .heading__title
	&__title {
		@media (max-width: $md5) {
			display: flex;
			flex-direction: column;
			max-width: rem(340);
			& span {
				&:nth-child(3n + 1) {
					align-self: center;
					&:nth-last-child(2) {
						align-self: flex-start;
					}
				}
				&:nth-child(3n + 2) {
					align-self: flex-start;
					&:last-child {
						align-self: flex-end;
					}
				}
				&:nth-child(3n + 3) {
					align-self: flex-end;
				}
			}
		}

		.color-red {
			@media (min-width: $md5) {
				display: block;
				text-align: right;
				margin-left: auto;
				&:nth-child(2) {
					text-align: center;
				}
			}
		}
	}
}

.banner {
	&__wrapper {
		position: relative;
	}
	// .banner__offer
	&__offer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		gap: 1rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		padding: 1rem;
		@media (min-width: $md5) {
			width: auto;
			padding: 0;
		}
	}
	// .banner__title
	&__title {
		max-width: 24rem;
		@media (max-width: $md5) {
			font-size: rem(14);
		}
	}
	// .banner__description
	&__description {
		&--desktop {
			@media (max-width: $md5) {
				display: none;
			}
		}
		&--mobile {
			margin-top: rem(32);
			text-align: center;
			font-size: rem(10);
			max-width: rem(288);
			margin-inline: auto;
			@media (min-width: $md5) {
				display: none;
			}
		}
	}
	// .banner__btn
	&__btn {
	}
	// .banner__offer-image
	&__image {
		& img {
			min-height: rem(179);
		}
	}
}

.benefits {
	padding: 1.375rem 0rem;
	@media (min-width: $md6) {
		padding: 1.375rem 1rem;
	}
	@media (min-width: $md5) {
		padding: 2.5rem 0;
	}
	// .benefits__title
	&__title {
	}
	// .benefits__list
	&__list {
		display: grid;
		gap: 2rem;
		margin-top: 4.75rem;
		@media (min-width: $md5) {
			gap: rem(40);
			margin-top: rem(100);
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			display: flex;
			justify-content: space-between;
		}
	}
	// .benefits__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	// .benefits__item-icon
	&__item-icon {
	}
	// .benefits__item-title
	&__item-title {
		margin-top: rem(32);
		@media (max-width: $md5) {
			font-size: 1rem;
			margin-top: 1rem;
		}
	}
	// .benefits__note
	&__note {
		margin-top: rem(40);
		color: rgba($color: #fff, $alpha: 0.6);
		@media (max-width: $md5) {
			display: none;
		}
	}
}

.places {
	padding: 1.375rem 0rem;
	@media (min-width: $md6) {
		padding: 1.375rem 1rem;
	}
	@media (min-width: $md5) {
		padding: 2.5rem 0;
	}
	// .places__header
	&__header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.31rem;
		@media (min-width: $md5) {
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
		}
	}
	// .places__caption
	&__caption {
	}
	// .places__more
	&__more {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		font-size: 0.875rem;
		line-height: 145%;
		&::before {
			order: 1;
			width: 0.75rem;
			height: 1.5rem;
			font-size: 1.5rem;
			transition: transform 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translateX(0.5rem);
				}
			}
		}
	}
	// .places__slider
	&__slider {
		overflow: visible;
		margin-top: rem(10);
		@media (min-width: $md5) {
			margin-top: 2.69rem;
		}
	}
	// .places__location
	&__location {
		border-radius: 1rem;
		border: rem(1) solid rgba(228, 228, 228, 0.8);
		display: flex;
		position: relative;
		transition: box-shadow 0.3s ease;
		gap: rem(5);
		padding: rem(25) rem(17);
		@media (min-width: $md4) {
			padding: 1.56rem 0.94rem 3.56rem;
			gap: 2.75rem;
		}
		&.swiper-slide {
			width: 17.5625rem;
			height: auto;
			@media (min-width: $md4) {
				width: rem(356);
			}
		}
		&::before {
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1.5rem;
			flex-shrink: 0;
			color: $red;
		}

		@media (any-hover: hover) {
			&:hover {
				box-shadow: inset 0 0 0 rem(2) #bababa;
			}
		}
	}
	// .places__location-content
	&__location-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 1rem;
		line-height: 120%;
	}
	// .places__location-name
	&__location-name {
	}
	// .places__location-address
	&__location-address {
		margin-top: 0.69rem;
		color: rgba(228, 228, 228, 0.8);
	}
	// .places__location-metro
	&__location-metro {
		margin-top: 0.31rem;
	}
	// .places__location-phone
	&__location-phone {
		margin-top: 0.69rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
}

.recommendations {
	padding: rem(20) 0 rem(60);
	@media (min-width: $md4) {
		padding: rem(40) 0 rem(100);
	}
	display: flex;
	flex-direction: column;
	&__header {
		width: 100%;
	}
	// .recommendations__slider
	&__slider {
		margin-top: rem(40);
		overflow: visible;
		align-self: center;
		padding: 0 1.25rem;
	}
	// .recommendations__card
	&__card {
		&:nth-child(4n + 1) {
			width: 100%;
			@media (min-width: $md6) {
				width: rem(340);
			}
			@media (min-width: $md4) {
				margin-top: rem(26);
				width: rem(474);
			}
		}
		&:nth-child(4n + 2) {
			width: rem(228);
			margin-top: rem(23);
			@media (min-width: $md4) {
				margin-top: rem(58);
				width: rem(317);
			}
		}
		&:nth-child(4n + 3) {
			width: rem(228);
			@media (min-width: $md4) {
				width: rem(317);
			}
		}
		&:nth-child(4n + 4) {
			margin-top: rem(24);
			width: 100%;
			@media (min-width: $md6) {
				width: rem(340);
			}
			@media (min-width: $md4) {
				margin-top: rem(94);
				width: rem(474);
			}
		}
	}
	// .recommendations__card-image
	&__card-image {
		width: 100%;
		height: rem(222);
		@media (min-width: $md4) {
			height: rem(309);
		}
	}
	// .recommendations__card-info
	&__card-info {
		margin-top: rem(50);
		@media (min-width: $md4) {
			margin-top: rem(69);
		}
	}
	// .recommendations__card-name
	&__card-name {
	}
	// .recommendations__card-btn
	&__card-btn {
		margin-top: rem(21);
		min-height: rem(40);
		min-width: rem(180);
	}
}
