//============ МОДУЛИ ====================
// @import "modules/popup";
@import "modules/select";
@import "modules/breadcrumbs";
// @import "modules/range-slider.scss";
// @import "modules/cart.scss";
//============ МОДУЛИ ====================
.caption {
	line-height: 145%;
	text-transform: uppercase;
	font-size: 0.75rem;
	@media (min-width: $md5) {
		font-size: 0.875rem;
	}
}

.title {
	font-family: $font-figtree;
	font-weight: 700;
	line-height: 110%;
	text-transform: uppercase;
	font-size: 2rem;
	letter-spacing: -0.14rem;
	@media (min-width: $md4) {
		letter-spacing: em(-0.28, 4);
		font-size: 3rem;
	}
	@media (min-width: $md3) {
		font-size: 4rem;
	}
}

.title-lg {
	font-family: $font-figtree;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 2.25rem;
	@media (min-width: $md5) {
		font-size: 3.5rem;
	}
	@media (min-width: $md4) {
		font-size: 5rem;
	}
	@media (min-width: $md3) {
		font-size: 6rem;
	}
	@media (min-width: $md2) {
		font-size: 8rem;
	}
}

.title-sm {
	font-family: $font-figtree;
	font-weight: 700;
	line-height: 110%;
	text-transform: uppercase;
	font-size: 2rem;
	letter-spacing: -0.14rem;
	@media (min-width: $md4) {
		letter-spacing: em(-0.28, 4);
		font-size: 3rem;
	}
}

.section-header {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.75rem;
	@media (min-width: $md5) {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
	// .section-header__caption
	&__caption {
	}
	// .section-header__title
	&__title {
		text-align: right;
		order: -1;
		@media (min-width: $md5) {
			order: 0;
			margin-left: auto;
			width: 65%;
		}
	}
}

.text-medium {
	font-weight: 500;
	line-height: 110%;
	font-size: rem(12);
	@media (min-width: $md4) {
		font-size: 1.25rem;
	}
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase;
}

.color-grey {
	color: rgba(228, 228, 228, 0.8);
}

.color-red {
	color: $red;
}

.swiper {
	min-width: 0;
	max-width: 100%;
}

.swiper-pagination {
	margin-top: rem(12);
	position: static;
	.swiper-pagination-bullet {
		background: $grey;
	}
}

.swiper-button-next,
.swiper-button-prev {
	background: $red;
	color: #fff;
	font-size: 1.5rem;
	z-index: $ui-index-1;
	svg {
		display: none;
	}
	&:disabled,
	&[aria-disabled="true"] {
		opacity: 0;
		visibility: hidden;
	}
	&::before {
		@extend %ic;
	}
}

.swiper-button-next {
	&::before {
		@extend .icon-next;
	}
}
.swiper-button-prev {
	&::before {
		@extend .icon-prev;
	}
}

.whatsapp-btn {
	&__icon {
	}
}

.socials-widget {
	position: fixed;
	z-index: $ui-index-5;
	bottom: 1rem;
	right: 1.5rem;
	overflow: visible;

	@media (min-width: $md2) {
		display: none;
	}
	// .socials-widget__btn
	&__btn {
		width: rem(74);
		height: rem(74);
		display: block;
		cursor: pointer;
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			border-radius: 50%;
			background: rgba($red, 1);
			z-index: -1;
			animation: pulse-wave 2s ease-out infinite;
		}
	}
	// .socials-widget__btn-icon
	&__btn-icon {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: #fff;
		border-radius: 50%;
		color: $red;
		font-size: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
	@keyframes pulse-wave {
		0% {
			transform: scale(1);
			opacity: 0.8;
		}
		100% {
			transform: scale(1.5);
			opacity: 0;
		}
	}
	// .socials-widget__body
	&__body {
		position: absolute;
		bottom: rem(58);
		right: rem(74);
		border-radius: 0.625rem;
		background: rgba(217, 217, 217, 0.75);
		color: #000000;
		padding: rem(15) rem(17) rem(13);
		display: flex;
		flex-direction: column;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;
		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}
	// .socials-widget__link
	&__link {
		display: flex;
		align-items: center;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 100%;
		gap: 0.56rem;
		width: 9.8125rem;
		border-radius: 0.3125rem;
		background: rgba(217, 217, 217, 0.75);
		padding: rem(7.5) rem(12);
		&::before {
			width: 2rem;
			height: 2rem;
			font-size: 1.875rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&:not(:last-child) {
			margin-bottom: rem(7);
		}
	}
}

.favorite-btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: $grey;
	font-size: 1.125rem;
	cursor: pointer;
	user-select: none;
	&::before {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.5rem;
		height: 1.5rem;
		flex-shrink: 0;
		font-size: 1.5rem;
		transition: all 0.3s ease 0s;
		order: 1;
		@extend %ic, .icon-heart;
	}
	&.active {
		&::before {
			@extend %ic, .icon-heart-fill;
			color: $red;
			animation: pulse 0.3s ease-in-out;
			@keyframes pulse {
				0% {
					transform: scale(1);
				}
				50% {
					transform: scale(1.4);
				}
				100% {
					transform: scale(1);
				}
			}
		}
	}
	& span {
		display: none;
		@media (min-width: $md4) {
			display: inline;
		}
	}
}

// [data-animate="parallax"] {
// 	& img {
// 		transform: scale(calc(1 + (var(--scroll-precent, 0) * 0.0005)));
// 	}
// }
// [data-animate="line"] {
// 	position: relative;
// 	&::before {
// 		content: "";
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		// width: 100%;
// 		width: 0;
// 		height: rem(1);
// 		// display: none;
// 		background: rgba(84, 61, 47, 0.1);
// 		// background: red;
// 		transition: width 0.6s ease 0s;
// 	}
// 	&.active {
// 		&::before {
// 			width: 100%;
// 		}
// 	}
// }
// [data-animate="banner"] {
// 	& img {
// 		transform: scale(calc(1 + (var(--scroll-precent, 0) * 0.0015)));
// 	}
// }

// [data-animate="bottom"] {
// 	transition: all 0.3s ease-in-out;
// 	opacity: 0;
// 	visibility: hidden;
// 	transform: translate3d(0, rem(20), 1px);
// 	will-change: transform;
// 	&.active {
// 		opacity: 1;
// 		visibility: visible;
// 		transform: none;
// 	}
// }

.tab-content {
	display: none;
	&.active {
		display: block;
	}
}

// .buy-btn {
// 	position: fixed;
// 	z-index: $ui-index-3;
// 	bottom: rem(20);
// 	right: rem(20);
// 	width: rem(80);
// 	height: rem(80);
// 	@media (min-width: $md4) {
// 		width: rem(110);
// 		height: rem(110);
// 		gap: rem(10);
// 		font-size: 0.875rem;
// 	}
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	flex-direction: column;
// 	gap: rem(5);
// 	border-radius: 50%;
// 	font-size: rem(10);
// 	line-height: 1;
// 	background: $red;
// 	color: $text;
// 	text-align: center;
// 	box-shadow: 0 rem(4) rem(10) 0 rgba($color: #000000, $alpha: 0.25);
// 	opacity: 0;
// 	visibility: hidden;
// 	transition: background-color 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
// 	@media (any-hover: hover) {
// 		&:hover {
// 			background: darken($color: $red, $amount: 10);
// 		}
// 	}
// 	&.visible {
// 		opacity: 1;
// 		visibility: visible;
// 	}
// }

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $text;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $red;
$scrollbarHover: darken(
	$color: $scrollbarColor,
	$amount: 10,
);

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: $scrollbarHover;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	border: 0;
	padding: 0;
	margin: 0;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
